[2016-02-29 08:16] kilianc opened #1 "is not in the SourceMap error"
[code]

[2016-02-29 14:27] scniro commented on #1
@kilianc Thanks for opening this up. I can't quite tell whats going on here from your trace, could you post the gulp task so I can try to repro later today?

[2016-02-29 15:33] kilianc commented on #1
[code]

[2016-02-29 16:17] scniro commented on #1
@kilianc  Looks like you are `write`-ing your sourcemaps twice. When I've used sourcemaps in a less environment, I initially `init()`, then `init({ loadMaps: true })` as you have already, then do a final `write`. Was this working before and an update to the plugin now broke this?

[2016-02-29 16:22] kilianc commented on #1
@scniro I write them twice because that's the desired behavior:

- first pass: compile all css for development and offer a sourcemap for easy debug
- second pass: create production ready file and offer a sourcemap for easy debug :D

I never used clean-css before so I don't know what's breaking

[2016-02-29 16:41] scniro commented on #1
@kilianc okay sounds good, hm, if you don't mind I'm going to ask a few more questions and request some scenarious just because I am unsure what piece is broken here.

Does the first pass alone work?

Do your tasks run without generating sourcemaps?

[2016-02-29 16:42] kilianc commented on #1
yes and yes.

[2016-02-29 17:17] scniro commented on #1
@kilianc  Looking at the stack trace again, it's looking for a `.scss` file sourcemap but in regards to `.css` files. Perhaps this is an issue? Also, in your second task, you appear to glob a `.min.css` file. Is this file already minified? Try removing `loadMaps: true` in your second task and check the outcome. Sorry if my explanations suck, I'm trying to debug this with you because there is a cha

[2016-02-29 17:24] kilianc commented on #1
Why don't I create a failing test case? I have a feeling I'll be posting this issue around on multiple repos :D

[2016-02-29 17:36] scniro commented on #1
@kilianc perfect!! :D I have a similar feeling on that as well, but I'll in the least try to help you resolve it, even if it's not due to this plugin directly

[2016-03-01 03:16] scniro commented on #1
@kilianc if you care to check it out or pull the repo, I added some test cases regarding sourcemap support. I didn't use your exact plugins regarding your sass build, but I added a case for two passes on sourcemaps and it appears to work as intended. Were you able to make any more discoveries with this?

[2016-03-01 03:31] kilianc commented on #1
Had a busy day but I'll try to patch up a test case before going to sleep. And btw thanks a lot for the help!

[2016-03-02 10:38] Ducatel opened #2 "How to display the current file ?"
Hi,

I don't find how display the current file name/path it will process in my gulp process.
I use this code but the arguments "details" doesn't contains the current file.
[code]

How I can add this file/path in my console.log ?

Thanks for in advance your help

[2016-03-02 14:38] scniro commented on #2
Hey!

Thanks for bringing this to my attention. So if you checked out the [clean-css](https://github.com/jakubpawlowicz/clean-css) repo, I'm simply returning the object and I don't see file path as one of them. However, I totally get why this would be helpful and I fully agree.

I'll work on this and keep you posted with progress.

[2016-03-02 14:39] Ducatel commented on #2
Nice, thanks ;)

[2016-03-02 15:07] scniro commented on #2
All set, you can now log out `name` and `path` on the `details` object 9747c288c1206638f92a0bfb330c9ec5cd22841c

published [2.0.3 to npm](https://www.npmjs.com/package/gulp-clean-css). Please let me know if this now works as expected for you.

[2016-03-02 16:08] Ducatel commented on #2
It's working perfectly ;)
Thanks

[2016-03-02 16:08] #2 closed

[2016-03-02 21:33] scniro commented on #1
@kilianc did you get a chance to look into this further?

[2016-03-23 22:47] ichepurnoy opened #3 "does not work as per docs"
Dear @scniro ,
I am unable to get ```gulp-clean-css``` to minify css files.
It does something to them, but it's not minification, on the contrary: for example, a minified file would get kind of 'unminified'.
At the same time, by using ```clean-css``` command in Bash, like
    ```cleancss file.css -o file.min.css```
I am getting a minified file, as expected.

What am I missing, how do I use your ``

[2016-03-23 22:49] scniro commented on #3
@ichepurnoy Can you share some code? Not totally sure what is going on here based on your explanation alone. Thanks!

[2016-03-23 22:57] ichepurnoy commented on #3
I'm sorry  I'm a novice with Gulp so far. Here's my gulpfile.js:
[code]

The code from like ```.banners{overflow:hidden;position:relative;clear:both}```
is transformed into
    .banners {
  overflow: hidden;
  position: relative;
  clear: both;
}

[2016-03-23 23:02] scniro commented on #3
@ichepurnoy No worries, from what I can tell this seems to be due the `autoprefixer` call _after_ minifying the css. Try prefixing _before_ that call, as such...

    .pipe(autoprefixer({
         browsers: ['last 3 versions'],
         cascade: false
     }))
    .pipe(cleanCSS({debug: true}, function(details) {
         console.log(details.name + ': ' + details.stats.originalSize);
         cons

[2016-03-23 23:07] ichepurnoy commented on #3
Thanks for quick response)
No, no effect. I've even commented  autoprefixer out, but to no avail.
Should  ```clean-css``` be also installed along with ```gulp-clean-css```?

[2016-03-23 23:19] scniro commented on #3
I just tried it with the sample css in question and the result was as expected. Are you concatenating one source file? I'd expect to see an array of sources. Try minifying one css file and simply `.dest` it out, removing any other plugin interference. `gulp-clean-css` comes bundled with `clean-css` as a dependency so there is no need to manually use that library in the gulp pipeline. I'm suspectin

[2016-03-23 23:25] ichepurnoy commented on #3
Oh, I found it, by taking things out step-by-step. It was ```gulp-concat-css```, not autoprefixer, but your hint was in right direction)  I need to look into its docs, maybe this is expected behaviour for it, dunno.
Big thanks for spending your time on me, @scniro !

[2016-03-23 23:27] scniro commented on #3
np at all! Best of luck :)

[2016-03-23 23:27] #3 closed

[2016-04-18 22:10] kilianc commented on #1
@scniro see https://github.com/floridoo/vinyl-sourcemaps-apply/issues/11 and https://github.com/ben-eb/gulp-cssnano/issues/38

[2016-05-03 08:44] tcarlsen opened #4 "Node 6 support"
Im getting this error after the new Node 6 update:

[code]

[2016-05-03 12:03] scniro commented on #4
@tcarlsen hmm, I can see the error is propagating from clean-css as you can see in the node_modules/clean-css folder. Can you let me know which version of this plugin you are using as well as posting your gulp task so I can take a peek? I'd like to get this reproducing on my end. I'll be able to look into this a bit later on today, thanks!

[2016-05-03 13:37] tcarlsen commented on #4
`package.json`:
[code]

`gulpfile.js`:

[code]

[2016-05-03 15:02] bgatellier commented on #4
Same thing here with the shiny new Node 6.

[2016-05-03 16:10] scniro commented on #4
@tcarlsen @bgatellier I believed I tracked down the issue. Please pull [2.0.7](https://www.npmjs.com/package/gulp-clean-css) and verify this resolved?

[2016-05-04 00:17] samsha1971 commented on #4
@scniro upgrade gulp-clean-css to v2.0.7，no error.

[2016-05-04 00:19] #4 closed

[2016-05-04 08:20] tcarlsen commented on #4
nice job. THX!

[2016-05-08 07:52] sabertazimi commented on #4
Thx.Nice job!

[2016-05-11 05:21] vertuxx opened #5 "gulp task does not work"
Hello
I have been using a [yeoman/generator-chrome-extension](https://github.com/yeoman/generator-chrome-extension).
When I run the build, clean-css related errors will occur.
sourcemap of bootstrap.css seems to cause.

how do I resolve this problem?
regards.

html

[code]

gulpfile.babel.js: line 52-61

[code]

command

[code]

[2016-05-11 05:57] vertuxx commented on #5
I'm sorry. I made a mistake.

[2016-05-12 06:21] vertuxx commented on #5
hi
I asked [yeoman/generator-chrome-extension](https://github.com/yeoman/generator-chrome-extension).
[issue](https://github.com/yeoman/generator-chrome-extension/issues/163)

regards.

[2016-05-12 07:34] vertuxx commented on #5
this issue move to [jakubpawlowicz/clean-css](https://github.com/jakubpawlowicz/clean-css).
[issue](https://github.com/jakubpawlowicz/clean-css/issues/772)

[2016-05-12 07:34] #5 closed

[2016-05-15 23:01] turnerhayes commented on #4
I'm still getting this error; I've upgraded to gulp-clean-css@2.0.7

`package.json`:

    "dependencies": {
    "babel-preset-es2015": "^6.6.0",
    "babelify": "^7.2.0",
    "body-parser": "^1.13.3",
    "browserify": "^13.0.0",
    "buffer-reader": "^0.1.0",
    "connect-mongo": "^1.1.0",
    "cookie-parser": "^1.3.5",
    "debug": "^2.2.0",
    "del": "^2.2.0",
    "dotenv": "^2.0.0",
    "expr

[2016-05-15 23:55] scniro commented on #4
@turnerhayes can you post a stack trace and your gulp task? Try deleting `node_modules` and reinstalling for good measure? I fixed this and all seemed to work, so I can't reproduce anything based on what you have shared alone.

[2016-05-16 00:31] turnerhayes commented on #4
Stack trace:

    Path must be a string. Received undefined in file undefined line no. undefined TypeError: Path must be a string. Received undefined in file undefined line no. undefined
    at assertPath (path.js:7:11)
    at Object.dirname (path.js:1324:5)
    at /projects/websites/webkb/node_modules/clean-css/lib/utils/input-source-map-tracker.js:191:56
    at Array.forEach (native)
    at trac

[2016-05-17 12:10] scniro commented on #4
@turnerhayes can you explain what you mean by the fix linked above? That change is published to npm. How were you able to verify that?

[2016-05-18 02:40] turnerhayes commented on #4
When I manually add the code linked:

    if (typeof(sourceFile) == 'undefined')
       return;

it works, but when I install it from npm it's not there.

[2016-05-18 12:45] scniro commented on #4
The fix was actually in the commit seen here, not that code snippet: f62380bcffe1b4b57b0c07927cb1ac9cf50e0f80

Unfortunately I am still struggling to identify the issue. Have you entirely deleted your node modules and tried reinstalling?

[2016-05-19 01:11] turnerhayes commented on #4
Ah, ok. Then that fix isn't working, I'm still getting the LESS error. I have deleted node_modules and reinstalled, still nothing.

[2016-05-19 12:38] scniro commented on #4
@turnerhayes  Still looking into this and trying to get something reproducing. I know it's not ideal, but have you tried to just `pipe` the plugins after your `less` task? Does the following produce the same result?

.pipe(sourcemaps.init())
    .pipe(less({
        modifyVars: {
            "@fa-font-path": '"../fonts"'
        }
    }))
    .pipe(autoprefix())
    .pipe(cleancss())
    /*...*/

[2016-05-20 13:14] scniro commented on #4
@turnerhayes Looks like an issue was brought up with the underlying clean-css. Lets see where this pr will go jakubpawlowicz/clean-css#774

[2016-05-21 01:17] turnerhayes commented on #4
Great, I'll keep an eye on that. Thanks!

[2016-05-23 11:52] scniro commented on #4
gulp-clean-css 2.0.8 has been published with the 3.4.13 dep https://github.com/scniro/gulp-clean-css/commit/32909e1eed30a536175afd2aa7d26727877a025a

[2016-05-24 12:27] liu-dongyu opened #6 "not work with background-image: url('data:image/svg+xml;charset=utf-8,<svg>***</svg> )"

[2016-05-24 12:34] scniro commented on #6
Please file this with the [clean-css](https://github.com/jakubpawlowicz/clean-css) library.

[2016-05-24 12:34] #6 closed

[2016-06-09 18:51] canda opened #7 "map.sources are already a relative path"
Why is it that you are trying to make a relative path for sources.
In my case I'm receiving the correct relative path already on clean css callback
´´´
// src === "../sass/originalstylesheet.scss"
´´´
so when the map executes I get a source like
´´´
"../../../../../sass/wu-about-us-timeline.scss"
´´´
Is there a way to tell clean-css to return an absolute path for this?
Is it that clean-css changed

[2016-06-09 18:55] scniro commented on #7
Was this an issue before? Is this new code on your end? Also, share your gulp code in question.

[2016-06-09 19:18] canda commented on #7
Thanks for the quick response :)
I'm adding the sourcemaps now, so I can't tell if this was an issue before
[code]

[2016-07-01 16:19] arechsteiner commented on #1
@scniro: I'm experiencing this bug and I have created a minimal project to reproduce it:

https://github.com/arechsteiner/cleancss-bug

In my case, the bug is caused by importing  a SCSS file from a third-party npm package like so:

    @import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
    @import "../node_modules/bootstrap/scss/_variables.scss";

[2016-07-05 14:09] joaocunha commented on #1
@scniro my case follows @arechsteiner's.

[code]

[2016-07-06 00:18] scniro commented on #1
@joaocunha @arechsteiner hey guys thanks for supplying some more info on this one. I've been so unusually busy lately and haven't been as attentive as I'd like looking into these things. Hopefully I'll get a chance to do so very soon! I'll keep you all posted if I find anything. Thanks for understanding

[2016-07-06 09:57] dcwarwick commented on #1
+1 for @arechsteiner 's scenario. I have the same thing: if I import a .scss file from a package in my node_modules into my project's main .scss file, and that imported .scss file itself contains @imports of other .scss files within that package, then the sass compile works fine and the sourcemaps appears to work fine but cleancss gives the "not in the Sourcemap" error. I started trying to debug b

[2016-07-07 11:49] dcwarwick commented on #1
OK, this might help: it seems that it is any time a sass import has one or more ```../``` at the start of the path. Those ```../``` seem to be getting lost. Example:

If I put a file ```_foo.scss```, and then make a subdirectory ```sub``` in which I put a file ```bar.scss```, and in ```bar.scss``` I have
[code]
and in my gulp build I pipe ```bar.scss``` to ```sourcemaps()```, then to ```sass()```,

[2016-07-07 12:51] scniro commented on #1
Okay guys I've dug into this a little bit this morning. A bit tricky to pin the blame here, but I think it can be traced back to [gulp-sourcemaps](https://github.com/floridoo/gulp-sourcemaps). I found [this issue](https://github.com/floridoo/gulp-sourcemaps/issues/108) which seems to complain of encountering the same problem, which led me down the path of exploring [write-options](https://github.c

[2016-07-07 14:29] dcwarwick commented on #1
Good catch @scniro. What this actually comes down to is that the error does not occur if ```includeContent:false``` is used. I would guess that it is when sourcemaps attempts to load up the original content to include it in the map that the error occurs. This is a useful partial workaround --- partial, because with ```includeContent:false``` the source files will need to be available (served) when

[2016-07-07 21:54] gregbrown1229 commented on #1
@dcwarwick @scniro

I had a problem similar to this today, and after much research, I found it was an issue with gulp-sourcemaps concerning the 'sourceRoot' property. Version 2.0.0-alpha of gulp-sourcemaps has a fix, but in order to use 1.6.0 (the current stable release), your call to the .write() method should look like this:

`.pipe(sourcemaps.write(undefined, {
sourceRoot: null
}))`

Hope this

[2016-07-07 22:06] scniro commented on #1
gross!! @gregbrown1229 so has that proved to be a viable workaround for now? Sorry I don't have a straightforward solution to this one guys, looks like we're at the crux of gulp-sourcemaps while in this predicament.

[2016-07-07 22:07] joaocunha commented on #1
Also, how a path would fit in that `.write()` call?

[2016-07-07 22:22] gregbrown1229 commented on #1
@scniro It works for my purposes at the moment, anyway. Can't say whether it works for all use cases, though.

@joaocunha For me, calling `sourcemaps.write('./maps')` works without issue. It's only when I'm trying to write the sourcemap directly to the CSS file that I run into this issue.

[2016-07-07 22:24] joaocunha commented on #1
@gregbrown1229 weird. I run into issues with a path (`.pipe(sourcemaps.write("./"))`).

[2016-07-07 23:25] gregbrown1229 commented on #1
@joaocunha I'm taking the day off just to code for fun, so I grabbed your gulp task from your initial post, added in the mods that @scniro mentioned, then added `{sourceRoot: null}` to the first sourcemaps.write() call, and it seemed to work! (At least in my test project.)

[code]

[2016-07-08 14:13] dcwarwick commented on #1
Thanks @gregbrown1229 for the pointers here. I can confirm that doing a first ```sourcemaps.write()``` with ```sourceRoot: null``` avoids the errors, and I've done a little digging to figure out why.

The problem seems to stem from these lines in ```gulp-sourcemap``` file ```index.js``` (lines 190-194 in the source I was looking at):
[code]

These cause all paths to be evaluated relative to a fict

[2016-07-08 14:41] gregbrown1229 commented on #1
@dcwarwick I don't think the issue is isolated to (or perhaps even related to--I'm not sure) `cleancss()`, since I ran into this issue never having used it.  In fact, I only installed it to test my solution for @joaocunha's problem. I just happened upon this issue after googling for the error message I was encountering. It seems like it has to do with the combination of `includePaths` in the gulp-

[2016-07-08 16:27] buddyackerman opened #8 "Not rebasing url()"
Below is my css bundling task.  None of the url() references have been rebased for the destination library.  I tested running cleancss (on the one file that has relative url() statements in it) from the command line and it rebased the urls correctly.  Seems gulp-clean-css is not sending the correct params for rebasing.  I even tried to set those options (i.e. cleanCss({relativeTo: './lib'})) mysel

[2016-07-08 19:26] scniro commented on #8
I don't fully understand. What is the expected result? It looks like you are trying to minify css files and concat them to one. Is there an issue in your end result file?

[2016-07-08 21:06] buddyackerman commented on #8
The exepected result is that the paths in the url() should be rebased relative to the destination folder.  If a source file located in the /node_modules/component has the following css definition

    .someClass{ background: url(image/someimage.png); }

then the result of the output file (which is located in the ./lib folder) should be

    .someClass{ background: url(../node_modules/component/ima

[2016-07-08 22:10] buddyackerman commented on #8
So, I tried to set the target option and it almost worked but it messed up the path in a bizarre way.  So I looked in you code and I think I've found the problem.  In the index.js file starting on line 26 you have this :

`

    var fileOptions = objectAssign({target: file.path}, options);

    if (fileOptions.relativeTo === undefined && (fileOptions.root || file.path)) {
        fileOptions.relat

[2016-07-26 16:36] jahumes opened #9 "Sourcemaps in stream have their locations changed"
We have run into a problem with our sourcemaps not being found when we run them through gulp-clean-css 2.0.7 or higher. We have tested this using node 5.10.1 and 6.2.2 and we have tested every version of gulp-clean-css from 2.0.7 - 2.0.12. The following error occurs in every case:

[code]

We are taking multiple modules and building them out as separate files. Each file has it's own .map file and

[2016-07-26 16:59] scniro commented on #9
Have you have a chance to peek at https://github.com/scniro/gulp-clean-css/issues/1 to see if it's related? Every issue opened seems to be related to sourcemaps and I'm thinking it's just an issue with gulp-sourcemaps with library files. Still unsure :\

[2016-08-03 17:08] jahumes commented on #9
I did review #1 and it does not seemed directly related. What I think is happening is that because my map has a .css in the name, and is in the stream, the clean css is trying to modify it. But because the file hasn't been created yet, clean-css can't open it.

[2016-08-25 14:51] almothafar commented on #9
+1

[2016-08-26 11:10] cordoval opened #10 "latest releases aren't shown on npm"
"1.2.4 is the latest of 40 releases" which is not true

[2016-08-28 13:49] scniro commented on #10
@cordoval  Unsure what you mean, I'm looking at [gulp-clean-css on npm](https://www.npmjs.com/package/gulp-clean-css) and see it as current...

Can you clarify where you are seeing the details you shared?

Maybe you're looking at the [old gulp-minify-css](https://www.npmjs.com/package/gulp-minify-css) plugin? I assumed the transition to the new gulp-clean-css plugin was pretty straightforward, sin

[2016-08-28 14:12] scniro commented on #9
@jahumes if you can please create a small reproduction project of this I'll clone it and get a fix. Having trouble following your gulp task here with all the extra noise - needing just a bare-bones "this is the definitive problem" case.

[2016-08-28 14:29] #10 closed

[2016-08-29 14:11] jahumes commented on #9
@scniro I will get that to you in the next couple of days. Thanks for working on this!

[2016-08-29 16:36] scniro commented on #9
@jahumes no thank you! My apologies for delaying this wayyy too long. I'll keep an eye out to hear back from ya :smile: Until then, were you able to hack a workaround or has this still been a thorn in your side?

[2016-08-29 17:54] jahumes commented on #9
@scniro I have done a little more research and can say it is https://github.com/scniro/gulp-clean-css/commit/f62380bcffe1b4b57b0c07927cb1ac9cf50e0f80 that breaks the task. I am using [gulp-useref](https://github.com/jonkemp/gulp-useref) to concat files and gulp-sourcemaps to build the sourcemaps. It appears that because the sourcemaps are being created before the concatenation but this plugin is b

[2016-08-30 13:26] scniro commented on #9
@jahumes okay cool I'm digging into this a bit now. So you can confirm there was no issue before that change? I put that in place for a bug with node 6 dropping, but everything seemed to retro just fine with all versions of node :/

[2016-09-06 14:12] scniro commented on #9
@jahumes  Hey there! So, I'm playing with some new stuff for a new version to publish, but I'm not heavy enough of a sourcemap user to really get down to the nitty gritty with the issues yourselves and others are experiencing. I'm trying to make the plugin less opinionated with sourcemaps, and letting clean-css under the hood take care of all the mapping.

My initial runs with it seem okay, but I'

[2016-09-06 14:14] scniro commented on #8
@buddyackerman @jahumes  Hey there! So, I'm playing with some new stuff for a new version to publish, but I'm not heavy enough of a sourcemap user to really get down to the nitty gritty with the issues yourselves and others are experiencing. I'm trying to make the plugin less opinionated with sourcemaps and other stuff, and letting clean-css under the hood take care of everything.

My initial runs

[2016-09-06 14:14] scniro commented on #1
@kilianc @arechsteiner @joaocunha @dcwarwick @gregbrown1229 ...

Hey there! So, I'm playing with some new stuff for a new version to publish, but I'm not heavy enough of a sourcemap user to really get down to the nitty gritty with the issues yourselves and others are experiencing. I'm trying to make the plugin less opinionated with sourcemaps, and letting clean-css under the hood take care of all

[2016-09-06 14:15] scniro commented on #7
@canda Hey there! So, I'm playing with some new stuff for a new version to publish, but I'm not heavy enough of a sourcemap user to really get down to the nitty gritty with the issues yourselves and others are experiencing. I'm trying to make the plugin less opinionated with sourcemaps, and letting clean-css under the hood take care of all the mapping.

My initial runs with it seem okay, but I'm w

[2016-09-06 22:35] alexmchardy commented on #9
I'm seeing the same sort of behavior as @jahumes:
[code]
I tried two things that might provide some data points for your investigation.
 - Installed the tarball mentioned above ([gulp-clean-css-test](https://github.com/scniro/gulp-clean-css-test)). This version of the code seemed to suffer from the same problem (unable to open `bootstrap-custom.css.map`).
 - Manually reverted https://github.com/sc

[2016-09-07 12:46] scniro commented on #9
@alexmchardy I'm trying to reproduce this on my end and simply can not. Can someone please package together a very small project which reproduces this?

[2016-09-08 18:22] alexmchardy commented on #9
@scniro I attempted to build a simple repo reproducing the problem: https://github.com/alexmchardy/gulp-clean-css-sourcemap-issue

Strange thing is, I got the problem to happen twice (on `$(npm bin)/gulp step2`) and then it stopped happening. Here's the output from one of the two times it happened:
[code]
I've tried everything I can think of to make it happen again with no luck, spending way more

[2016-09-08 20:33] scniro commented on #9
@alexmchardy excellent, thank you very much, I will look into this tomorrow and get back to you with my findings!! :smile_cat:

[2016-09-09 16:47] scniro commented on #9
@alexmchardy so, I too was getting weird behavior, but I think the issue is with your gulp tasks themselves. Firstly, since the `step2` task is reading files which already have a sourcemap to them and we are "re-sourcemapping" it appears to help if we specify the following `.pipe(sourcemaps.init({loadMaps: true}))`. Secondly, you are not returning in the tasks. When I compose the following with a

[2016-09-14 21:48] buddyackerman commented on #8
@scniro I haven't had time to test the update.  I actually had made some changes to my bundling (for reasons not related to this issue) and that change alleviates this issue (for me).  So, I've got to undo my changes in order to test this.  Maybe I can get to it this week or early next if that's not too late.

[2016-09-19 19:02] sonnyk22 opened #11 "Accessing the gulp-clean-css via the gulp-load-plugins"
I am having an issue accessing the gulp-clean-css via the gulp-load-plugins.

For example:
[code]
I tried both using $.clean-css() or $.cleancss(), but was unsuccessful.

Would you please help me with this?

[2016-09-19 19:05] sonnyk22 commented on #11
got it working.

`.pipe($.cleanCss())`

[2016-09-19 19:05] #11 closed

[2016-09-19 21:21] scniro commented on #11
🎉 👍

[2016-09-23 19:35] kevinSuttle opened #12 "How to specify output file?"
I can't seem to get this to happen.

[code]

[2016-09-23 19:51] scniro commented on #12
@kevinSuttle I would pipe [gulp-rename](https://www.npmjs.com/package/gulp-rename). Check out the following...

[code]

[2016-09-23 20:01] kevinSuttle commented on #12
Works. Thanks!

[2016-09-23 20:01] #12 closed

[2016-09-23 22:18] erwstout opened #13 "[Question] Production Ready?"
Hi @scniro!

I've been following this project closely since our team initially used it before it became depreciated and you took over and I applaud you for your work! Sorry for opening an issue to ask this (I kinda wish GitHub had some sort of a message board/communication feature) but what is the current state of the plugin? Would it be recommended for production use yet? I know you've been hard

[2016-09-25 12:08] scniro commented on #13
@erwstout hey! No worries contacting me here, but I'm pleading right there with you for direct messaging from github. I'd say you'd be okay to use this, as many projects are using it right now. I try to keep the latest clean-css dep in the package and this plugin isn't really not all that much code - I'd say march forward with it.

The only issues I'm still being plagued by all involve source maps

[2016-09-25 17:34] erwstout commented on #13
Perfect, thanks! Keep up the good work. I'll play around with it a bit and see if I have any issues with source mapping and contribute what I can. Take care!

Sent from my iPhone

[2016-09-26 09:14] VladShcherbin opened #14 "Add info on how to minify css"
Since many users just want to minify without `clean-css` transformations (compatibility, etc), it would be great to see pure minification in the package example.

[2016-09-26 11:00] #14 closed

[2016-09-26 16:00] #13 closed

[2016-10-02 10:45] jp7677 commented on #9
Hi there, not sure if this is related, but I had some issues with sourcemaps and gulp-clean-css as well (Error: ENOENT: no such file or directory, open ' [......]src/css/bootstrap.css.map'). Tuns out all was well after specifying `sourceMap: false` as clean-css argument. Somehow the sourcemap magic within clean-css still wants to do some work while I actually only want gulp-sourcemaps to do the jo

[2016-10-12 16:05] komarevtsevdn opened #15 "rename"
Hi i wanna minify my css file. Module work fine, but i wanna to have in the end renamed file (for example all.min.css
this module can provide such function?

[2016-10-12 16:15] erwstout commented on #15
You'll need another package such as [gulp-rename](https://www.npmjs.com/package/gulp-rename) to handle renaming of files.

[2016-10-12 17:23] #15 closed

[2016-10-27 15:29] jvivs commented on #9
I addressed this issue by passing `{loadMaps: true}` to `gulp-sourcemap` before consuming the css file in a different directory: https://www.npmjs.com/package/gulp-sourcemaps#init-options

[2016-10-28 17:32] gamebox opened #16 "Callback only called for a single file"
I have the following setup(minimum representation):

[code]

And the output is

[code]

And that is all.  All of the files that should be minified are, but the callback was only called once.  I actually don't need this callback, was just interested in the output, but I thought you might want to fix this for other users

[2016-12-06 10:23] biomedia-thomas commented on #8
I'm not sure if this is related but I have a problem with URLs being rebased twice in some cases. I tracked this down to the following piece of code in gulp-clean-css:
[code]
When the path is known, a object (hash) is supplied to the minify function rather than the code itself. However, in this mode, clean CSS will already rewrite the URLs the moment it reads the file sources (See the rewriteUrls

[2016-12-06 17:56] scniro commented on #8
@biomedia-thomas I spent some time changing around a few things and published [gulp-clean-css 2.1.0](https://www.npmjs.com/package/gulp-clean-css). I took your suggestion as well and all seems fine. Could you full this down and let me know if you're squared away?

[2016-12-06 18:02] scniro commented on #16
@gamebox  Hmh, I am not terribly familiar with `lazypipe`, but glancing at this structure and if I am not mistaken, it appears you are concatenating via `groupConcat` _before_ you clean. If so, you're cleaning now one file hence the one callback. What if you cleaned before you concatenated?

[2016-12-06 18:05] scniro commented on #9
Hey everyone I changed some stuff around and published [2.1.0](https://www.npmjs.com/package/gulp-clean-css). Still can't pinpoint this, but maybe it's fixed. Feel free to share your findings here

[2016-12-06 18:06] scniro commented on #7
Check out [npm 2.1.0](https://www.npmjs.com/package/gulp-clean-css) and feel free to share your findings on here if it's now resolved

[2016-12-06 18:06] scniro commented on #1
Check out [npm 2.1.0](https://www.npmjs.com/package/gulp-clean-css) and feel free to share your findings on here if it's now resolved

[2016-12-07 04:27] gvnn opened #17 "cssFile[file.path] = {styles: file.contents.toString()};"
Hello,

After upgrading to version `2.1.0` we are starting receiving the following error

[code]

We pipe to clean-css right after autoprefixer, like this

[code]

[2016-12-07 04:34] gvnn commented on #17
Just for a little bit of context, we have developed a series of tasks for our internal development pipeline, the code that I posted is used in our repo https://github.com/StudioThick/opine-styles it might be useful for testing.

[2016-12-07 10:27] madwizard-thomas commented on #8
It still rewrites urls twice. You have removed the if-condition but I meant removing the whole if so that the first argument to the minify function is a string with the contents rather than an object with the filename as a key. As soon as you use an object it will rewrite the URLs twice.
[code]

[2016-12-07 12:58] scniro commented on #17
@gvnn yikes! Yes I pushed some changes yesterday in attempts for fix some other stuff. Hang tight as I'll get it up today for you

[2016-12-07 13:04] scniro commented on #17
@gvnn also I'm striving to get this done quickly for you but my testing doesn't catch quite everything. Could you do me a favor? Crack open (in your project) `~/node_modules/gulp-clean-css/index.js:31`

and change

    cssFile[file.path] = {styles: file.contents.toString()};

to
    cssFile[file.path] = {styles: file.contents ? file.contents.toString() : file.toString()};

Let me know if that reso

[2016-12-07 13:26] pataar commented on #17
I am having the same error, the fix you provided works.

[2016-12-07 13:36] scniro commented on #17
cool I'll get it up soon, are you guys passing files with no contents? couple minutes...

[2016-12-07 13:42] scniro commented on #17
[2.1.1](https://www.npmjs.com/package/gulp-clean-css) is up. Can you please pull and confirm if fixed or terribly busted still? 🤓

[2016-12-07 13:47] pataar commented on #17
Seems to be working again 👍

[2016-12-07 13:48] #17 closed

[2016-12-07 13:55] scniro commented on #8
hm, i'd need to think on this for a bit since it breaks a test regarding errors returned from clean-css if I just pass the raw content. For some reason it's not working as expected in the following case...

    var File = require('vinyl');
    var css = new File({
      path: './fixtures/test.css',
      contents: new Buffer('body{')
    });

passing just the raw contents here results in an issue-

[2016-12-07 15:39] madwizard-thomas commented on #8
I think that is an issue with the tokenizer in clean-css. When the tokenizer (tokenize.js) does not find a closing bracket when inside a selector block, it will generate an error "Missing '}' after {content of block}".
So if you have 'body{color:red;' with a missing closing bracket, the error will be " 'Missing '}' after color:red;". However, it will not show the error however if there is *no cont

[2016-12-07 18:21] scniro commented on #8
ah thanks for the explanation and I can see now your example of `'body{color:red;'` as a _raw string_ indeed works and returns the expected error. Your explanation on the empty content also makes sense, however, I can still force different results based _only_ on the parameter type passed with the exact same content. Observe the following example...

[code]

which, bizarrely, returns two totally d

[2016-12-07 18:57] madwizard-thomas commented on #8
You are right that with an empty body tag you get different results, but I see this as a bug in the clean-css tokenizer:
See https://github.com/jakubpawlowicz/clean-css/blob/master/lib/tokenizer/tokenize.js
[code]
After parsing "body{", the tokenizer is in body mode (i.e. context.mode=='body', note that 'body' here is unrelated to the tag name, it means the body of a css declaration), the whatsNex

[2016-12-07 20:31] fsmaia opened #18 ""File already exists" error when processing CSS before minification"
Since version 2.1.1, when using `gulp-clean-css` piped after `gulp-sass`, like in the example below, I'm getting this error: `Error: EEXIST: file already exists, mkdir...`.
[code]

Probably this errors occurs everytime that `gulp-clean-css` is not the first processing task.

May I be helpful somehow in order to fix this?

Thank you in advance.

[2016-12-07 21:57] gvnn commented on #17
Thanks guys 👍  Apologies for the late reply, it was bed time in Australia 🛌

[2016-12-08 00:20] scniro commented on #18
do you have anything in your `assets/sass/` directory _besides_ `.scss` files. Would specifying `gulp.src(['assets/sass/**/*.scss'])` with the file extension help? I just mocked out a test and all succeeds as expected...

[code]

where

a.scss =>

`$color: red;`

b.scss =>

[code]

test-sass.scss =>

[code]

results in the correct css being generated and minifed for the correct files. Could you cr

[2016-12-08 00:30] scniro commented on #8
I see! Okay, so I corrected my test to actually now test your example of `body{color:red`, and everything else _seems_ okay. Published [2.1.2](https://www.npmjs.com/package/gulp-clean-css), can you install and let me know if okie dokie?

[2016-12-08 00:51] rgerstenberger opened #19 "Error: Cannot find module 'gulp-concat'"
I hit this build error. It looks like `gulp-concat` was added to `index.js` but still remains in `devDependencies`. From this recent commit: https://github.com/scniro/gulp-clean-css/commit/3104238c01fb0ebc5b32c0d61cf13788f9339b4d#diff-168726dbe96b3ce427e7fedce31bb0bcR7

I can add `gulp-concat` to my project's `devDependencies` to get around this but others may hit the same issue. Perhaps `gulp-con

[2016-12-08 01:40] tomlutzenberger commented on #19
Ran into the same issue :(
Thx for the devDependencies hint

[2016-12-08 02:45] scniro commented on #19
sorry guys, that's me being dumb from earlier. Left that in there, it's definitely not a dependency, though I do use it for testing. Sorry! standby for a publish...

[2016-12-08 02:47] #19 closed

[2016-12-08 02:55] scniro commented on #19
[2.1.3 published](https://www.npmjs.com/package/gulp-clean-css) - sorry!

[2016-12-08 02:56] scniro commented on #9
whirlwind of stuff today, try 2.1.3 please

[2016-12-08 02:56] scniro commented on #8
whirlwind of stuff today, try 2.1.3 please

[2016-12-08 02:56] scniro commented on #7
whirlwind of stuff today, try 2.1.3 please

[2016-12-08 03:14] tomlutzenberger commented on #19
That was pretty quick, thanks a lot 😀

[2016-12-08 09:41] madwizard-thomas commented on #8
Thanks, it seems to work fine now!

[2016-12-08 14:27] scniro commented on #8
@madwizard-thomas awesome thanks for being so helpful!. @buddyackerman could you install latest and let us know if this fixed your issue as well?

[2016-12-08 14:29] scniro commented on #1
@kilianc @arechsteiner @joaocunha @dcwarwick @gregbrown1229  whirlwind of stuff yesterday, try 2.1.3 please

[2016-12-08 16:01] scniro commented on #7
more whirlwind => 2.2.0

[2016-12-08 16:01] scniro commented on #1
more whirlwind => 2.2.0

[2016-12-08 16:01] scniro commented on #9
more whirlwind => 2.2.0

[2016-12-09 13:29] #8 closed

[2016-12-09 21:24] fsmaia commented on #18
I created a [repository](https://github.com/fsmaia/gulp-clean-css-issue-18) with empty SASS files, and the problem is exactly not having the extension in `gulp.src` pattern, as shown [here](https://github.com/fsmaia/gulp-clean-css-issue-18/blob/master/Gulpfile.js#L8).

In this case, the directories are becoming empty files in CSS output. Then two files in the same directory are generating the same

[2016-12-09 22:04] scniro commented on #18
@fsmaia I was able to reproduce this thanks to your sample repo. I added a simple check which fails fast and passes the file along should a situation like this be encountered...

[code]

[2.2.1](https://www.npmjs.com/package/gulp-clean-css) published. Can you please install and verify if resolved on your end?

[2016-12-09 22:05] scniro commented on #18
yikes hold off, my CI is failing :/

[2016-12-09 22:13] scniro commented on #18
nevermind we're good. Accidentally snuck in some native es6 syntax in my tests

https://travis-ci.org/scniro/gulp-clean-css/builds/182731687

Let me know on your end so I can close this out if we're good

[2016-12-13 16:46] fsmaia commented on #18
Problem fixed! Thank you!

[2016-12-13 16:46] #18 closed

[2016-12-13 23:03] EAnushan opened #21 "Sourcemaps mapping issue in 2.2.2"
The following was working in version 2.1.1, but does not work in 2.2.2. The sourcemap is still inlined in my minified file, but it seems like the mappings may be incorrect as the browser fails to map the styles back to the original scss files. I'm using gulp-sourcemaps.

[code]

My pipeline is as follows:

`assets/scss -> assets/css -> assets/css/min`

I compile scss files using gulp-compass, then

[2016-12-14 01:49] scniro commented on #21
I made some changes regarding path resolution in 2.2.2. I think you'll be okay if you remove what looks like a workaround to solve a defect in my earlier version. Specifically...

[code]

...looks like a code smell. I wrote a test to mock out the simple pipeline you provided and I can map back a sass'd and clean'd files to the originating sass. Could you try to modify what you have currently to se

[2016-12-14 03:05] EAnushan commented on #21
I actually tried that fix as well, but it doesn't seem to help. I'll create a repo that reproduces the issue for you. Thanks for the quick response!

[2016-12-14 03:40] scniro commented on #21
cool keep me posted 😄

[2016-12-14 04:03] EAnushan commented on #21
Here's a proof of concept. Instructions in the README. https://github.com/EAnushan/gulp-clean-css-issue-21

[2016-12-14 05:47] scniro commented on #21
@EAnushan thanks for the repo! I was able to reproduce this and can confirm this as an issue. Will publish a fix tomorrow in the AM (EST time zone here)

[2016-12-14 14:14] scniro commented on #21
06c1706626731a95495e18cb735057e74717cb4f

[2016-12-14 14:15] scniro commented on #21
hey guys I committed a possible fix here 06c1706626731a95495e18cb735057e74717cb4f. I didn't want to yet publish a public version. Could someone clone this commit down, install, and verify? Probably a `npm pack` => install tarball would be the best bet. Didn't want to publish this quite yet if not fixed. Thanks

[2016-12-14 15:46] EAnushan commented on #21
Confirmed your last commit fixes the issue. I've also removed the `sourceRoot` hack you mentioned in https://github.com/scniro/gulp-clean-css/issues/21#issuecomment-266919050. Doesn't look like the hack is necessary anymore =)

[2016-12-14 15:51] jybleau opened #22 "rebase to absolute relative to root fails since 2.1.2"
Related to this modification [(commit 3104238, line 33 to 38)](https://github.com/scniro/gulp-clean-css/commit/3104238c01fb0ebc5b32c0d61cf13788f9339b4d#diff-168726dbe96b3ce427e7fedce31bb0bcL33)

I'm rebasing relative paths in css files located in `bower_components` package folders.

For instance, an url in `font-awesome` package might look like:
`url(../fonts/fontawesome-webfont.eot?v=4.7.0);`

It

[2016-12-14 15:59] jybleau commented on #22
...looks like it contradicts #8
Ay ay...

[2016-12-14 17:11] scniro commented on #22
sigh, so the pattern continues of fixing one thing and breaking another. Any suggestions?

[2016-12-14 17:13] scniro commented on #21
awesome, 2.3.0 pup'd

[2016-12-14 17:13] #21 closed

[2016-12-14 17:32] jybleau commented on #22
...trying to figure that out...

I'm not sure about the #8 issue, I'll give it a test; clean-css doc says: "Use a combination of relativeTo and target options for relative rebase".

I don't see at any moment that he used both options.

Anyway, the tests will tell.

[2016-12-14 18:15] hdcdstr8fwd opened #23 "ReferenceError: cleanCSS is not defined"
Hi, new to gulp still trying to get my head around it. Been struggling with this for ages, does anyone have any ideas?

terminal output:
[code]
Package.json
[code]
gulpfile.js

[code]

[2016-12-14 18:20] scniro commented on #23
Per your tasks, change the following...

`var minifycss = require('gulp-clean-css');`

=>

`var cleanCSS= require('gulp-clean-css');`

As seen with your usage below...

[code]

[2016-12-14 18:47] hdcdstr8fwd commented on #23
Amazing thanks!

[2016-12-14 18:47] #23 closed

[2016-12-14 20:03] EAnushan commented on #21
Thank you!

[2016-12-15 14:39] scniro commented on #8
@madwizard-thomas @biomedia-thomas (in case I miss you on the other one) If you were at all interested, #22 seems to have an issue with the solution here. There seems to be a need for the `cssFile[file.path]` approach. If you have the time, could you please glance at this issue thread and see if anything jumps out at you? The OP mentioned you may have overlooked certain options passed to cleancss,

[2016-12-15 15:20] madwizard-thomas commented on #22
I only used the target option in my own code, but gulp-clean-css [forces](https://github.com/scniro/gulp-clean-css/blob/master/index.js#L28) the relativeTo option for every file, so it is set.
[code]

When cssFile[file.path] is used instead of the source itself, clean-css will rebase the sourcefile while reading the file (see source-reader.js(https://github.com/jakubpawlowicz/clean-css/blob/ea58a2

[2016-12-15 15:35] madwizard-thomas commented on #22
Come to think of it, it might be more true to clean-css to keep the cssFile[file.path] method but then relativeTo should not be set to anything by gulp-clean-css (but just implictly copied from options.relativeTo). After all in clean-css, relativeTo is a global option as well, not per file.

[2016-12-15 16:10] jybleau commented on #22
Thanks @madwizard-thomas, it's getting clearer.
I will have time to look at it next week.

Yup, let's add more test cases...

[2016-12-16 08:50] madwizard-thomas commented on #22
For your information, the rebase algorithm in clean-css itself works like this (given options.rebase = true, which is the default)

Only when css[filePath] is used, for every input file:
Rebase from the directory of CSS source file
Rebase to (uses first one of these that is set):
1. **options.target** (relative rebase)
2. **options.root** (absolute rebase)
3. **process.cwd()** (relative rebase)

A

[2016-12-16 15:02] scniro commented on #22
@madwizard-thomas thanks so much for really taking a deep dive into this. In your case that we fixed over in #8, if we change the following to your proposal, are you still issue-free? Here's what I am thinking...

[code]

[here is a full gist](https://gist.github.com/scniro/8b1ce9f8c3918c33f5baa2b6c3da9da7) for index.js. Could you try pasting that into your `node_modules` installation and let me k

[2016-12-17 16:43] madwizard-thomas commented on #22
I decided to make a test set with several cases, I've created a pull request (#24) for it. The gist you linked doesn't seem to work in all cases but the code in my pull request seems to work correctly. Needs to be checked though. I've tried to mimic the behavior of the CLI cleancss as much as possible.

[2016-12-17 18:09] scniro commented on #22
merged! 2.3.1 is up, all looks good. Thank you so much for your help on this one. @jybleau could you install latest and let us know if you're squared away?

[2016-12-17 18:17] scniro commented on #22
Also, I published 2.3.2 just now as there was a [clean-css release ](https://github.com/jakubpawlowicz/clean-css/releases/tag/v3.4.23) very recently that I wanted to get in

[2016-12-20 15:39] #16 closed

[2016-12-20 15:40] #7 closed

[2016-12-20 15:40] #1 closed

[2016-12-20 15:40] #9 closed

[2016-12-21 16:01] jybleau commented on #22
All working fine now. Thanks so much for your work.

[2016-12-27 15:19] #22 closed

[2016-12-30 13:05] darlanmendonca opened #25 "Broken @import"
when I have @import in css, this module broken :(

you want add support to this?

is css3 import (I believe), the doc of this feature, I found here https://developer.mozilla.org/pt-BR/docs/Web/CSS/@import

[code]

[2016-12-30 14:20] scniro commented on #25
Can you clarify what you mean by broken? Can't see any issue here. I'd also suspect if there is indeed any issue, it'll be related to [clean-css](https://github.com/jakubpawlowicz/clean-css)

[2016-12-31 14:06] kgadzinowski opened #26 "URL rebasing is broken"
URL rebasing got broken / changed between versions 2.0.6 ->2.2.0
Basically I use CSS files from multiple places in '/public/src' path and I minimize content and put it into 'public/out' folder. Unfortunately URLs are being rebased differently after version change.

Version 2.0.6 URL output: 'background:url(../src/elements/dj-menu-top/images/image.jpg)'
Version 2.2.0 URL output: 'background:url(../

[2016-12-31 19:07] scniro commented on #26
Can you elaborate? Perhaps share the current output and let me know of the expected output? There were some changes that probably impact this, could be helpful to check out #22 and #8.

[2016-12-31 19:07] #25 closed

[2017-01-01 20:13] kgadzinowski commented on #26
I updated my initial message.

[2017-01-02 00:05] scniro commented on #26
did you look at the issues I referenced? I'm guessing you need to change your options, specifically, `relativeTo` and `target`

[2017-01-02 09:47] kgadzinowski commented on #26
I will get around this, no problem. I submitted this issue because to me it looks like a bug that breaks projects that depends on your plugin and require users to change parameters for no benefit. I guessed you might be not aware about it and might want to fix it. If you think though it's somehow improvement or just don't care, than please close this issue.

[2017-01-02 15:30] #26 closed

[2017-01-03 20:50] ThiefMaster opened #27 "Missing dependencies"
I'm not using sourcemaps, so I didn't install any of the related packages. However, this results in an error when just adding `cleanCSS()` to the gulp pipeline:

[code]

After installing `source-map`:

[code]

After installing `readable-stream` it worked.

However, should it really be up to whoever *uses* this package to install these dependencies? IMO the package.json of `gulp-clean-css` should s

[2017-01-04 02:08] scniro commented on #27
Something must be wrong with your node module installation...

`npm install gulp-clean-css`

brings down all the dependencies specified in `package.json`

[code]

Cracking open the source, you'll see all the required dependencies in `index.js`

[code]

Nothing seems out of place here

[2017-01-06 14:41] #27 closed

[2017-01-11 12:40] jayraj opened #29 "gulp-sourcemap not working after using clean css."
Hello there,

I've been trying for to minify css using gulp-clean-css with sourcemap but it's not working. Line numbers are wrong while I'm trying to debug in chrome developers tool but If I skip the cleancss() part, it's working as expected. Is this issue of gulp-clean css? or what? below is my gulp file.

Thanks

var gulp = require('gulp');
var less = require('gulp-less');
var sourcemaps= requir

[2017-01-11 14:46] scniro commented on #29
I don't believe you can use the api's together this way and expect the correct results. Try the following...

[code]

You need to call `sourcemaps` twice with the `loadMaps` because we're using two plugins. I'd poke around on stackoverflow or other issues - you'll see this is a common wall people hit at times.

Here is one issue that you could peek at [How to use in combination with gulp-sass](htt

[2017-01-12 10:56] jayraj commented on #29
Thank you scniro,

Unfortunately this is not working :(

[2017-01-12 18:17] scniro commented on #29
Sorry, I don't have enough here to determine one way or another if your difficulties can be traced back to gulp-clean-css.

If you create a sample repo which clearly reproduces this issue and you tell me your expected results - I'll happily clone it and investigate.

[2017-01-18 15:54] #29 closed

[2017-01-19 10:28] titancat opened #30 "How to remove spaces and blank lines in css file with gulp-clean-css ?"
In the past I used `gulp-minify-css` to remove spaces and black lines.
Here is my gulpfiles.js code segment.

[code]
It worked well.

Now I try to use  `gulp-minify-css` replace with  `gulp-clean-css`.

[code]
It can not achieve the desired effect.  Where did I make the mistake?
What should I do?

[2017-01-19 18:23] erwstout commented on #30
This may be an issue that would need to be posted on https://github.com/jakubpawlowicz/clean-css/tree/3.4 - may not be an issue with the wrapper itself. It looks fine to me... Thoughts? @scniro

[2017-01-19 20:02] scniro commented on #30
@erwstout that's what I am thinking as well. I see the "never" task has significantly different options passed to it. @titancat can you clarify what your expected result is? I assume you just with to minify the css but am unsure. I'd start by just removing the options to see what you get, but yes, if there is a minification error you'd want to investigate with [clean-css](https://github.com/jakubp

[2017-01-23 07:10] titancat commented on #30
@scniro @erwstout Maybe I should open an issue on [clean-css](https://github.com/jakubpawlowicz/clean-css).

[2017-01-23 07:10] #30 closed

[2017-01-24 21:30] jonsquared opened #31 "Update to latest version of clean-css"
Please upgrade to the latest version of clean-css (at this time it is up to version 4.0.0)

[2017-01-24 21:49] scniro commented on #31
@jonsquared dang dude, it's been one day since [4.0.0](https://github.com/jakubpawlowicz/clean-css/releases/tag/v4.0.0). I'll get to it soon. It's a pretty big release and I might need to rework some stuff. I assure you - it'll be updated.

[2017-01-24 22:52] jonsquared commented on #31
Hah, I didn't notice. I just ran into a defect that is fixed in the newer release.

[2017-01-28 10:38] normanjaeckel opened #32 "Release versions, tags and CHANGELOG do not match"
At the moment the latest release is 2.3.2 but the CHANGELOG says 2.3.1. (I think the content of the 2.3.1 section was meant to be 2.3.2 and for 2.3.1 a CHANGELOG entry is missing) Also the GitHub tags and [releases](https://github.com/scniro/gulp-clean-css/releases) do not exist.

Nevertheless a nice package. :-)

[2017-02-03 10:38] SlippySken commented on #25
Maybe it is related to this?

[Issue 865 in clean-css](https://github.com/jakubpawlowicz/clean-css/issues/865)

[2017-02-03 13:52] alosev opened #33 "Not overridden options"
Hello!
The problem arose from the fact that I override options, and the output is a file with the default settings.

http://joxi.ru/Dr8nq07H8EeG26 - css file
http://joxi.ru/E2pkaRxIN1l4mY - gulpfile
http://joxi.ru/xAee4zWTEB9BAy - output file

I expect the file to shrink, only formatted. And he shrinks and classes are grouped. I can not understand what the problem is.

[2017-02-04 15:07] davidnknight commented on #31
I have dropped gulp-clean-css as I also ran into issues that are fixed in the latest version of clean-css, now v4.0.4. I cannot rely on a plugin that doesn't get updated for weeks and causes things to break.

For anyone else facing issues, there is another approach for using CleanCSS without this wrapper plugin in Gulp, see the link below.
https://github.com/jakubpawlowicz/clean-css/issues/342

[2017-02-04 15:20] scniro commented on #31
@davidnknight gulp-clean-css hasn't been updated to 4.x yet. FWIW, I have been planning to update it some time this weekend. There were a lot of breaking changes regarding the rebasing that I have to investigate. Also, I wouldn't necessarily generalize 11 days as "weeks." Also, unsure what breaking "things" you're referring to.

[2017-02-04 16:33] erwstout commented on #31
I'd just like to chime in and say Sal you're doing a great job. People need
to understand this stuff is developed in free time for the love of the
community, there's no need to get so snippy about something being 11 days
behind a release. If it's that important it gets updated asap for you
David, then maybe think about doing a PR and contributing?

On Feb 4, 2017 8:20 AM, "Sal Niro" <notifications

[2017-02-06 03:03] scniro commented on #33
I'd suggest opening an issue with [clean-css](https://github.com/jakubpawlowicz/clean-css) if you're experiencing issues with tweaking the options. Whatever you specify is passed through to the library.

[2017-02-06 03:05] scniro commented on #32
hehe, thanks for that! However, I'm going to close this out as it's not too much of an issue in the sense of something being defective - rather me being slightly moronic 😜. If it bothers your sanity too much I'd welcome your contributions if you'd like to clean this up!

[2017-02-06 03:05] #32 closed

[2017-02-06 03:18] scniro commented on #31
Upgraded to 4.x with [gulp-clean-css 2.4.0](https://github.com/scniro/gulp-clean-css/releases/tag/2.4.0) release. Can't guarantee it's working as expected with the new `rebaseTo` has thrown a wrench in what I finally thought to be fixed in prior issues #9 #8 #22

I'll try to get to it sometime soon, but it's been unusually busy on my end with the day-to-day. Any help is welcomed and well appreciat

[2017-02-06 03:27] #33 closed

[2017-02-06 08:46] normanjaeckel commented on #32
You just released 2.4.0 and this looks good overall for this version. So everything is fine. Thanks.

(Hint: You just added `npm-debug.log` to the repository – possibly accidentally.)

[2017-02-06 14:02] scniro commented on #32
goodness me lol thanks for pointing the log file. I'll delete that momentarily. And yes shortly after I posted my earlier comment I drafted a release for the current version and will be mindful to do the same moving forward. Thanks again!

[2017-02-06 18:31] emjaksa commented on #31
@scniro great work on this package and the update. Can I make a suggestion? When you update to a major version of clean-css you also update your package version to a major version number e.g. 3.0.0. If you have "gulp-clean-css": "^2.2.2" in the package.json it will update to the latest compatible with version and 2.4.0 was not.

[2017-02-06 18:34] EAnushan commented on #31
Thanks for all your hard work @scniro. I agree with @emjaksa. Do you think you can tag a new major version when there are breaking changes downstream? I wasn't expecting the `rebaseTo` change, so when I updated my packages, all my fonts and images were broken due to being rebased incorrectly.

[2017-02-06 18:58] scniro commented on #31
@emjaksa I certainly will! @EAnushan yea I knew that disaster was coming. I was continuously bashing my head over the last implementation and now must attempt to figure it out again, regarding the rebasing that is. If you have any suggestions I will highly appreciate it.

[2017-02-06 19:06] scniro commented on #31
@emjaksa FWIW I just released under [3.0.0](https://github.com/scniro/gulp-clean-css/releases/tag/3.0.0) and 2.4.0 has been deprecated. Hopefully that'll clear up any confusion moving forward

[2017-02-06 19:25] EAnushan commented on #31
Regarding the `rebaseTo` changes. Here are the changes I had to make to get everything working again. I'm not sure if it'll help you, but I thought I'd share just in case.

I went from something like:
[code]

to:

[code]

[2017-02-06 19:37] lindevs commented on #31
I can't unterstand why clean-css removes @media, for example:
CSS:
[code]
Using gulp-clean-css:
[code]
I get this result:
`#wrapper.toggled{padding-left:0}#sidebar-wrapper{width:220px}#wrapper.toggled #sidebar-wrapper{width:0}`

When I using gulp-minify-css:
[code]
I get this results as expected:
`@media(min-width:768px){#wrapper{padding-left:220px}#wrapper.toggled{padding-left:0}#sidebar-wrapper{

[2017-02-06 20:53] scniro commented on #31
@lindevs  [https://www.npmjs.com/package/gulp-minify-css](gulp-minify-css) has been deprecated long ago and last I checked used clean-css version 3.3.3 see [here](https://github.com/scniro/gulp-clean-css/commit/438a4faf27f134c30e3e94024a83951c21fdc5cc#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R18)

[2017-02-07 17:13] lindevs commented on #31
Hi, can you update "clean-css": "^4.0.4" to "clean-css": "^4.0.5"?

[2017-02-08 20:21] scniro commented on #31
@lindevs you still did not comment back on my initial reply. I am not understanding the issues you are having, so I can not help ATM without a better explanation and expected result. Spanning an update request on this issue thread with every clean-css version increment the moment it comes out will not likely help you either nor is really appropriate. I will eventually update it.

@EAnushan thank y

[2017-02-08 20:34] scniro commented on #31
Build broke, see fix in 3.0.2 37997b0

[2017-02-09 19:39] lindevs commented on #31
@scniro 4.0.5 clean-css update fixed my issue. I tested with [https://jakubpawlowicz.github.io/clean-css/](https://jakubpawlowicz.github.io/clean-css/)

[2017-02-14 08:09] wlachenal commented on #31
After updating to newer version, which I'm using @import in css. All @imports are showing errors.

Ignoring local @import of "base/reset.css" as resource is missing.
Ignoring local @import of "base/css-properties.css" as resource is missing.
Ignoring local @import of "fonts/font-styles.css" as resource is missing.
And so on..

Any solution for this stuff?

I already added the inline local thing, b

[2017-02-19 18:36] scniro commented on #32
Also to follow upm I deleted the changelog file. This project is so small - the file consisted of updates consisting of "updating clean-css dep." I don't see the urgent need to keep annotating this

[2017-02-21 15:51] codename- opened #35 "version 2.4.0 contain a breaking changes"
This version upgrades `clean-css` to version 4.x - which is a breaking change upgrade.
As it has been released as minor update it broke my code.

You should remove version 2.4.0 from registry or soon more projects would start failing.

[2017-02-21 17:12] scniro commented on #35
It;s been deprecated instead of unpublished. Should be seeing the message... See #31

[2017-02-21 17:12] #35 closed

[2017-02-26 11:45] kisonic opened #36 "Error "Ignoring local @import" after update to 2.4.0"
My file structure:
[code]

main.css:
[code]

builder/gulpfile.js:
[code]

So, after update from 2.3.1 to 2.4.0 I have error:
[code]

[2017-02-26 15:02] scniro commented on #36
2.4.0 has been deprecated as you should be seeing the message on an install. Please see #31 and #35. Basically I published broken changed and deprecated shortly afterwards. Perhaps I'll just un-publish 2.4.0 as this keeps bubbling up as a problem

[2017-02-26 15:02] #36 closed

[2017-03-07 15:44] ricardo-lewis opened #37 "Rebase doesn't work on files outside the Gulp workspace"
When processing files that are located outside the folder that your gulpfile.js is located:
[code]
The rebase function doesn't work. The above CSS example file contains:
[code]
That URL should be rebased to:
[code]
But it is not, the path seems to remain untouched.

[2017-03-07 17:16] Janjuks opened #38 "Media queries removed"
Media queries are removed after minifying. In this [issue](https://github.com/scniro/gulp-clean-css/issues/31) I saw @lindevs mention the same problem, but did not get an answer, I think he wasn't understood clearly.

I have gulp-clean-css 3.0.3

My task:
[code]

[2017-03-07 17:35] Janjuks commented on #38
It was faulty CSS, sorry.

[2017-03-07 17:35] #38 closed

[2017-03-08 20:18] scniro commented on #37
are you passing any of the [rebaseTo](https://github.com/jakubpawlowicz/clean-css#important-40-breaking-changes) options to your function call? I am not seeing anything passed per your usage of `.pipe(cleanCss())`

[2017-03-08 20:19] scniro commented on #38
@Janjuks no worries I am glad you got it solved so quickly 😃

[2017-03-09 00:33] ricardo-lewis commented on #37
I tried a myriad of ``rebaseTo`` values, both absolute and relative.

I was unable to figure out how the function was creating the final URL path.

The best it seemed to do was output this:
[code]
e.g. just adding another ``../`` in front.

I've ended up using a dedicated rebasing plugin ``gulp-css-url-rebase``

[2017-03-09 21:30] corneyl commented on #31
@wlachenal @scniro Imports seem to fail because `CleanCSS` doesn't know the source folder of the css file, only the source file content is passed to the `CleanCSS().minify()` function. So it looks like the imports are being imported from the CWD. When I run `CleanCSS` directly, imports are working fine...

[2017-03-23 13:27] corneyl commented on #31
@scniro any comments on my proposed solution? The newest published version doesn't work for me and probably a lot of other people.

[2017-03-23 22:01] scniro commented on #31
@corneyl I apologize for the delay. I can in the least, commit to looking into this extensively this weekend when I have the time. Until then, when you mention breaking tests on your PR, could you explain just a bit more? The [CI log](https://travis-ci.org/scniro/gulp-clean-css/builds/209528923) is sating all checks have passes but perhaps I am not seeing all that your are?

[2017-03-23 22:14] corneyl commented on #31
I just ran `npm test` and saw some errors, but that was probably due to my local environment, can't remember exactly.

[2017-03-26 17:55] scniro commented on #31
@corneyl I may need to investigate this more. The changes in your PR break basic functionality with minifying simple styles. At this time I'd recommend looking into the proposed workaround on #37 supplementing the [gulp-url-rebase](https://github.com/42Zavattas/gulp-css-url-rebase) plugin, or reverting to older plugins which leverage clean-css 3.x.

One of the trade-offs with the 4.x clean-css lif

[2017-03-27 03:50] ckaaaa opened #40 "issue in background image path."
source:
background:url(../../images/test.png);
dest:
background:url(../images/test.png);

Thanks.

[2017-03-27 13:12] scniro commented on #40
are you rabasing? Passing any options to clean-css? Need some more detail on what's going on here. Please share your usage

[2017-04-08 05:30] ckaaaa commented on #40
Thanks.
you can download the tiny project and run it.
http://www.fingeredu.cn:8080/ttt.zip

the tiny project, only style files.

[2017-04-08 15:14] scniro commented on #40
@ckaaaa any way you can post it up as a github repo? That's download link is looking all sorts of sketchy

[2017-04-09 04:10] ckaaaa commented on #40
done.
https://github.com/ckaaaa/forcleancsstest

[2017-04-20 16:25] corneyl commented on #31
Sorry for the delay, but I've created a simple example as requested: https://github.com/corneyl/gulp-clean-css-example
The `use-filename` branch uses the proposed fix, and `master` uses the latest version (`3.0.4`).

[2017-04-25 11:06] rgembalik commented on #40
@scniro Hi,
I know it's kinda late response not from the owner, but have you tried giving it `{rebase:false}` as a parameter? It worked for me: `.pipe(cleanCss({rebase:false}))`. For some reason, there is rebase enabled by default and it shortens (at least for me it did) relative path, but only in certain environments - be certain I mean it works well on every env we have except for the one that i

[2017-04-26 02:12] ShubhamUnique commented on #36
Facing above issue in version gulp-clean-css@3.0.4

[2017-04-26 05:48] ckaaaa commented on #40
well.  Thanks. @rgembalik .

[2017-04-26 05:48] #40 closed

[2017-05-03 20:54] mlewis22 commented on #36
Seconded @ShubhamUnique

[2017-05-04 06:32] maxbizbd commented on #36
Same problem in version 3.0.4

[2017-05-04 15:31] scniro commented on #31
@corneyl I too am sorry for the delay. I will clone your sample repo here and work this out this weekend now that I have an isolated example. I've drawn a lot of attention to the issue at hand so It'll get resolved one way or another. Will keep you posted and thanks again for the sample

[2017-05-07 19:46] scniro commented on #37
I have revisited this and hope the newest changes will resolve this. Please pull down [3.1.0](https://github.com/scniro/gulp-clean-css/releases/tag/3.1.0) and let me know if this meets your expectations. Thanks!

[2017-05-07 19:46] scniro commented on #31
I have revisited this and hope the newest changes will resolve this. Please pull down [3.1.0](https://github.com/scniro/gulp-clean-css/releases/tag/3.1.0) and let me know if this meets your expectations. Thanks!

[2017-05-07 22:14] ricardo-lewis commented on #37
Nice, I'll give it a shot 😀

[2017-05-07 22:17] webinarium opened #41 "SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"
After upgrade to 3.1.0 my Gulp file fails as below:

[code]

I'm not an expirienced frontend developer, I'm a backend guy, who uses Gulp to maintain LESS/JS assets in Symfony projects. I understand use replaced `vars` with `lets` but not sure how to deal with your module now.

Any help will be appreciated. Thank you!

[2017-05-07 22:22] scniro commented on #41
What version of node.js are you using? `let` should be supported in 4.x. I can't support below 4.x. Its the ie8 argument all over again...

let me know, thanks

[2017-05-07 22:29] webinarium commented on #41
It's 4.2.6. I'm running ubuntu 16.10 and have installed both npm and node from the official repositories.

[code]

[2017-05-07 22:37] scniro commented on #41
Have you tried using the `--harmony` flag? e.g. `node --harmony yourMinifyScript.js`

[2017-05-07 22:43] webinarium commented on #41
No, it means I need to patch the gulp executable that comes from vendor's repository, which seems a workaround I would like to avoid.

Currently I fix the issue by adding `"use strict";` to the `index.js` of your module. Do you think you can take this change into the module for permanent? I can make a PR if you'd like.

[2017-05-07 22:53] scniro commented on #41
[3.1.1](https://github.com/scniro/gulp-clean-css/releases/tag/3.1.1) published. So the `use strict` works fine for you?

[2017-05-07 22:57] webinarium commented on #41
Have tried 3.1.1 - works for me like a charm now, thank you!

[2017-05-07 22:57] #41 closed

[2017-05-07 23:00] scniro commented on #41
great to hear! Thank for bringing this up so promptly

[2017-05-15 21:21] scniro commented on #31
Did some more work on this as seen at jakubpawlowicz/clean-css#937 and all should be fixed with the [3.2.0 release](https://github.com/scniro/gulp-clean-css/releases/tag/3.3.0). I am going to close this for now, but please reply here or open up a new issue should you still encounter issues. Thank you!

[2017-05-15 21:21] #31 closed

[2017-05-15 21:21] scniro commented on #37
Did some more work on this as seen at jakubpawlowicz/clean-css#937 and all should be fixed with the [3.2.0 release](https://github.com/scniro/gulp-clean-css/releases/tag/3.3.0). I am going to close this for now, but please reply here or open up a new issue should you still encounter issues. Thank you!

[2017-05-15 21:21] #37 closed

[2017-05-16 00:16] angularPublic opened #42 "Using gulp-clean-css, font file paths specified in url() setting a wrong path"
Hi,

With the recent changes, gulp build that using gulp-clean-css having issues with url() path values.
Example, this below
    url('../fonts/glyphicons-halflings-regular.woff2')
is converted to below,
   url('scripts/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2')
   Where,  scripts is my library folder.
in the minified css.

I guess, this related to rebaseTo changes?

[2017-05-16 04:06] FcoJavierSainz commented on #42
I saw the same problem with images
was changed from
[code]
[code]

[2017-05-16 05:07] vishnu4 commented on #42
same issue here.  important to note that i'm using gulp-clean-css w/out ANY parameters, if that helps.  no rebase/relativeto/whatever.

[2017-05-16 06:53] jonyeezs commented on #42
I too have this issue. But i believe I've found the issue.

TL;DR: clean-css option update -> `cleanCSS({rebase: false})`

Here's why...

in clean-css v4.0:

The `rebase` is defaulted to true

this looks like it will get the relative path of the project and rebase it, which is what @angularPublic and I are experiencing.

I'm guessing all of us have the same pipe for this:
* gulp.src from a lib/src

[2017-05-16 10:50] tiberiuzuld commented on #42
What @jonyeezs `rebase: false` fixed my issue

[2017-05-16 11:05] scniro commented on #42
Interesting! Sorry about that everyone. Perhaps I can simply default `rebaseTo` to false if no option provided. Should be an easy enough fix. I can publish it up very soon.

[2017-05-16 11:31] scniro commented on #42
All set! Thanks everyone for being so attentive to this and to @jonyeezs for doing most of the heavy lifting. [3.3.1](https://github.com/scniro/gulp-clean-css/releases/tag/3.3.1) is out and should be on npm also. Please drop a comment here, someone, when you get a moment to confirm if all is well so I can close this out.

[2017-05-16 12:25] vishnu4 commented on #42
That fixed it for me, you can mark closed.  Thanks!

[2017-05-16 12:26] jonyeezs commented on #42
Hi @scniro thanks for looking into it.

That sounds like it'll solve the problem for the peeps in here.
But it might be going against the grain of clean-css, ie silently changing the defaults.

Definitely fixes for the uninitiated, but for those who are more familiar with clean-css, may find this an issue.

Perhaps make a note about the breaking changes and rebase default (which looks to have been

[2017-05-16 12:42] scniro commented on #42
I think the default behavior was just completely broken while in the gulp pipeline. We're specifying files via `gulp.src([...])` but in order to get the rebasing to work I need to pass the files in that keyed object with the file path as you can see in the changeset.

However, simply because we're in the gulp pipeline the file paths we glob in aren't exact to what they really are. In this case, I

[2017-05-16 13:16] angularPublic commented on #42
@scniro . Thanks for looking into this.
After the fix for defaulting rebase to false fixed my case. I mean, the original issue is solved now. You shall close the bug.

Introducing rebase as an optional param would be nice.
Good work buddy! Have a nice day!

[2017-05-16 13:28] #42 closed

[2017-05-16 14:43] stephencorwin opened #43 "v3.3.1 breaks @import pathing"
It appears as though the latest version of gulp-clean-css has a different behaviour with how it handles **@import** paths using the **inline: ['none']** option.

We unintentionally installed v3.3.1 by using the package.json devDependency declaration: **"gulp-clean-css": "^3.2.0"**.
We fixed the issue locally by changing our package.json devDependency declaration to exact: **"gulp-clean-css": "3.2.

[2017-05-16 15:04] scniro commented on #43
I think I may have a fix for this. Before I go further, can you provide me a snippet of that same css before it's minified? I'd like to see the paths beforehand

[2017-05-16 15:10] stephencorwin commented on #43
v3.2.0 is how the URLs are without minification. Setting the **rebaseTo** option to **false** in my options doesn't seem to fix it either.

![v3 3 1-no-min](https://cloud.githubusercontent.com/assets/3931162/26113264/15ac49d6-3a28-11e7-9bc8-3c1f7f916885.PNG)

[2017-05-16 15:21] scniro commented on #43
Interesting, I shouldn't be resolving any paths by default. Could you try to add a leading slash to your import? e.g.

    @import url('/app.min.[...]')

For some reason my test broke when I removed the leading slash with the new changes in 3.3.1. Also, `rebase` has not been surfaced yet as discussed in #42 - it should be `false` by default unless `rebaseTo` is specified. I will be surfacing `reba

[2017-05-16 15:41] stephencorwin commented on #43
With leading slash.
![image](https://cloud.githubusercontent.com/assets/3931162/26114523/7e902b40-3a2b-11e7-87c9-52c66ec37760.png)

The issue here is that it is still an undesired result. I need it to respect the adjacent directory @import as it was doing previously.

**@import url(/app.min.css);**
Will try and import from the hostname root -- which doesn't work if the assets are located in an ass

[2017-05-16 16:55] scniro commented on #43
Have you tried rebasing at all, perhaps `rebaseTo: 'assets/css'`?

[2017-05-16 17:14] stephencorwin commented on #43
Yes. As mentioned earlier, setting the rebaseTo option to **false**, **''**, or **my destination folder** doesn't seem to fix it either.

**rebaseTo: 'assets/css'**
![image](https://cloud.githubusercontent.com/assets/3931162/26118435/e97dc21c-3a37-11e7-8a63-7404bbf1c1e2.png)

What I think might be the culprit is if gulp-clean-css is somehow trying to inherit the path from **gulp.src()**. The src i

[2017-05-16 17:49] scniro commented on #43
Interesting. Okay, so, everything was working for you find beforehand? I made some fundamental changes to the way the file is passes to `clean-css` for the sake of rebasing as seen here https://github.com/scniro/gulp-clean-css/commit/92ddf633773f1da24d2cb04d79dbc2f7f057a810

I wonder if, I can surface another option specific to the plugin which can flag to alternatively pass in the direct inline s

[2017-05-16 18:04] stephencorwin commented on #43
Yes, it was working before. I was doing some digging and I'm not sure clean-css is respecting the **rebase: false** option.
Looking at: **gulp-clean-css\node_modules\clean-css\lib\reader\rebase.js**
It appears that rebase will run if rebaseAll is set to true or false. I'm not familiar enough with the codebase to know where exactly this is originating from.

But if I just return tokens from the reb

[2017-05-17 15:40] scniro commented on #43
So I looked into this a bit and the only difference your flow should be experiencing is the now passing of the file style contentsas a keyed object that clean-css expects for rebasing e.g.

[code]

Before these changes, I was passing the `contents` in directly. I am assuming there is some conflict with your processing of SASS beforehand, and then the keyed filename of that object resolving somethi

[2017-05-17 16:01] stephencorwin commented on #43
That sounds good.

Usually the gulp plugins I have used in the passed cater to the contents being piped in without regard to the where the content actually comes from. That is part of why they are so flexible.

[code]

if pluginA and pluginB were in reverse order, it still usually works but is a different order of operations on transforming the content. Neither plugin cares about the specifics of

[2017-05-18 00:01] scniro commented on #43
I like your suggestion! In-versing my proposal makes sense with how you put it. Hopefully I can free up soon to get this done, at the latest, I can get the changes in by the end of the weekend - so - hopefully as a workaround until then you can keep moving forward with 3.2.0. Thank for the feedback!

[2017-05-18 00:12] stephencorwin commented on #43
Sure thing! I edited my response early to provide a little more clarity.
Take your time, but I'm happy to assist whenever you have something for me test.

[2017-05-18 19:43] scniro commented on #43
Hey again. So after re-reading this thread I made a super quick and dirty change to simple respect the `rebase: false`. As a result my tests appear to mimic the output as they did in 3.2.0. I packed up a tarball at https://github.com/scniro/gulp-clean-css-43 for you to try out in isolation before I publish anything to see if I can solve your issue. When you get the time, could you pull it down to

[2017-05-19 06:28] sassy-ankit commented on #43
Does `isolatePipeline` option solved your issue? Its just last night I faced the same problem while using gulp-sass, especially in SUBLIME. I dont think `rebase:false` will do the trick. The issue is with the speed of _function execution_ and _file saving_ in the core `libsass` code, though dont want to disturb in your findings, keep posting what are your findings about `rebase `approach, or else

[2017-05-19 18:48] stephencorwin commented on #43
@scniro, I'm testing this locally, but it doesn't look like it is working. Can you verify what the change made was in the code? I'm not sure if it carried over in the tarball.

[2017-05-19 21:00] scniro commented on #43
@stephencorwin hey, sorry if it's a wasted effort on your issue 😦 The change should respect `rebase: false` if passed in. @sassy-ankit thank you very much for exploring this as well. I can slate some time this weekend to squash the issue! Also, if feeling adventurous, feel free to submit a PR. Not at all necessary, just throwing it out there. Get back to you guys later on this weekend

[2017-05-20 07:53] sassy-ankit commented on #43
@stephencorwin @scniro
Consider the following code
[code]
Also think of integrating gulp-concat and some other few. While executing of this, compiler pipelines everything on multiple of pipes. So if consider `sass()` execution before `.src` then it wont find a file to read. Thats why we get error `@import-file not found or unreadable`. To work around this, I found out three approaches.

Method 1)

[2017-05-20 12:18] stephencorwin commented on #43
@sassy-ankit
Forcing the use of another dependency (plumber) when it wasn't required before is not an acceptable solution in my opinion. It wasn't required before version 3.2.0. Any project looking to upgrade and use the latest version of gulp-clean-css should not need to rewrite their pipeline to use plumber.

To best support the direction that clean-css proper is going we should aim towards supp

[2017-05-21 18:40] sassy-ankit commented on #43
@stephencorwin agree on your last comment. To keep my work going, i used this work around. If this insufficient method works, then may be you guys (the actual developers) can figure out something. Btw keep posting your findings, its a great resource for learners like me. Now on, I won't disturb the original conversation you guys have but will be following this thread closely. Thank you in advance

[2017-05-21 21:01] scniro commented on #43
@stephencorwin okay I tried again...

 - https://github.com/scniro/gulp-clean-css-43-2

This time the `rebase` option will still be configurable, _but_, I have reverted to the old way of passing in the direct styles opposed to the keyed file name object. The object will only be passed should one specify `rebaseTo`. Install and let me know?

[2017-05-22 15:31] stephencorwin commented on #43
@scniro, I believe this is working.

**no rebase option set:**
`//rebaseTo: '/test/'`
![no-rebaseset](https://cloud.githubusercontent.com/assets/3931162/26316274/bd4bfdcc-3ee1-11e7-838d-f6f909fd6f87.PNG)

**rebaseTo option set:**
`rebaseTo: '/test/'`
![rebaseto](https://cloud.githubusercontent.com/assets/3931162/26316260/b2a93c0e-3ee1-11e7-8355-fc1a234d50b3.PNG)

I haven't used **rebaseTo** intent

[2017-05-22 15:57] scniro commented on #43
@stephencorwin yep you should be good to go and I can publish up these changes this evening. Shouldn't affect anyone as passing the styles directly has always been the method I leveraged for 3.20 and before , but now for those who use `rebaseTo` - they internally opt for passing the keyed object. I'll comment here later on once I bump to npm and let you close it out once all looks good. I apprecia

[2017-05-23 00:12] scniro commented on #43
@stephencorwin @sassy-ankit  [3.4.0](https://github.com/scniro/gulp-clean-css/releases/tag/3.4.0) is not live and should be available to pull down via npm. Please let me know if you are squared away on this! Thanks.

[2017-05-23 19:52] stephencorwin commented on #43
Thanks @scniro! I think we can close this issue out.

[2017-05-23 19:52] #43 closed

[2017-05-25 11:11] SirDev commented on #36
Same problem in version 3.4.0. Not sure what's going on here.

[2017-05-25 11:52] scniro commented on #36
I tried reproducing this and have indeed gotten the error. This looks related to https://github.com/jakubpawlowicz/clean-css/issues/914. Possible this could be an issue with the library itself.

Passing the following `inline` options seems to fix it...

[code]

Would this workaround satisfy the situation?

[2017-05-25 12:03] SirDev commented on #36
In the end it was an error with my scss (@import .css file which became a css import which created the error mentioned). perhaps @maxbizbd  can tell you if it works with that workaround?

[2017-05-25 19:47] sassy-ankit commented on #43
Thanx @scniro.

[2017-08-17 14:39] evromalarkey opened #45 "Error when using inline:['all'] for imports"
I got token[0] error, when using inline:['all'] option, I'm trying to inline process @import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css);

Is this problem with clean-css or gulp-clean-css? I have gulp-clean-css@3.7.0, clean-css@4.1.7 versions and node.js 6.11.2

I was used to that clean css processed imports automatically, but since the clean-css version 4.0 it wa

[2017-08-18 12:07] scniro commented on #45
At first glance this appears to be an issue with clean-css itself as I can see it bubbling up from the lib in the stack trace and not from the wrapper. Have you checked out the [Important: 4.0 breaking changes](https://github.com/jakubpawlowicz/clean-css#important-40-breaking-changes) migration docs? I haven't used remote imports a lot but it makes mention of the following...

To be honest, I'm no

[2017-08-18 13:16] evromalarkey commented on #45
yeah, it's problem with clean-css, it's happening when multiple files are processed - https://github.com/jakubpawlowicz/clean-css#how-to-optimize-multiple-files

if the @import is passed as string it works, I will open issue on clean-css

[2017-08-18 13:33] #45 closed

[2017-08-22 10:07] doocal opened #46 "Multi-file merge bug"
gulp.src([
        './simple-line-icons.css',
        './font-awesome.css',
        './bootstrap.css'
    ]).pipe(minifyCss()))

source:
………………
url('fonts/fontawesome-webfont.woff2?v=4.4.0')
…………

compress：

………………
font-awesome --
url('../../fonts/fontawesome-webfont.woff2?v=4.4.0')
…………

The current file path is attached

[2017-08-22 12:09] scniro commented on #46
This is quite a poor issue with lots of information missing and I am left to guess that you are expecting a different file path after processing. Look into [clean-css rebaseTo](https://github.com/jakubpawlowicz/clean-css#constructor-options)

[2017-08-22 12:09] #46 closed

[2017-08-24 03:07] knight084 opened #47 "the path of image"
before:
background: url(../../../img/index_sprite.png) no-repeat -10px -40px;
after:
background: url(../img/index_sprite.png) no-repeat -10px -40px;

[2017-08-24 22:18] #47 closed

[2017-09-03 21:26] al5dy opened #48 "calc () issue"
gulp-clean-css v.3.7.0

The following code does not work correctly  in SASS mixin e.g:

[code]

[code]

Output as:

.angle--top-left {
polygon(0 calc(**0** + 2vw),100% 0,100% 100%,0 100%); /* 0 */
}

instead of

.angle--top-left {
polygon(0 calc(**0%** + 2vw),100% 0,100% 100%,0 100%); /* 0% */
}

p.s
Temporary solution used 0.1% instead of 0%

[2017-09-04 08:44] evromalarkey commented on #45
@scniro This was fixed in https://github.com/jakubpawlowicz/clean-css/releases/tag/v4.1.8 can you update the dependency to 4.1.8? Thanks!

[2017-09-04 13:07] scniro commented on #48
Unfortunately this cannot be fixed with the wrapper as your issue is either stemming from [clean-css](https://github.com/jakubpawlowicz/clean-css) or [node-sass](https://github.com/sass/node-sass).

Possibly related, today I released [gulp-clean-css 3.8.0](https://github.com/scniro/gulp-clean-css/releases/tag/3.8.0) which includes the [4.1.8 release of clean-css](https://github.com/jakubpawlowicz/

[2017-09-04 13:07] #48 closed

[2017-09-04 13:08] scniro commented on #45
Done! [3.8.0](https://github.com/scniro/gulp-clean-css/releases/tag/3.8.0) is published.

[2017-09-21 00:56] tetreault opened #49 "Only one file being minified"
Hey, thanks for this module. I'm not sure I'm missing something totally obvious but only one of my files is being minified. The directories are:

`public/src/css/*.css` (contains main.css)
`pubilc/src/css/vendor/*.css` (contains bootstrap etc)

Below are the relevant snippets:

[code]

After my gulp file runs successfully, I check the `dist/css` folder and only see main.css is there, not any of th

[2017-09-21 01:53] scniro commented on #49
@tetreault hey there, thanks for bringing this up. The good news is, what you shared appears to be easily correctable. Check out the following example...

[code]

Since you're trying to run two asynchronous tasks, I believe once one completes the execution aborts. I don't have an exact technical explanation on hand right this moment, but this blog post, [Task Dependencies in Gulp](https://medium.c

[2017-09-21 16:32] tetreault commented on #49
awesome thanks for the quick reply, going to try it out now! the reasoning you provided makes total sense, was a little burnt out yesterday cant believe that didnt occur to me!

[2017-09-21 16:46] #49 closed

[2017-11-27 22:56] brian-lamb-software-engineer commented on #42
Thanks for this, I was having issues almost same as OP, `../fonts/font-awesome-webfont.woff2?v=4.7.0` was being transformed to `../../../fonts/font-awesome-webfont.woff2?v=4.7.0`.  I googled and didn't come across this post though for my first several tries, so lets throw some keywords in here.

[2017-12-20 09:49] georgebuzoianu commented on #11
Hello!
Documentation for "Accessing the gulp-clean-css via the gulp-load-plugins" still missing from official README :(

[2018-01-05 15:21] JParkinson1991 opened #51 "Spaces removed from :not statement."
Hello,

Ive noticed an issue with this package where spaces are removed from :not statements.
Im not 100% sure if this an issue with the gulp wrapper or the clean-css package it wraps.

Basically if i have css:
[code]

The compiled css becomes (notice the space removed from .gmap and button:
[code]

When using the following gulp process:
[code]

[2018-01-10 13:08] scniro commented on #51
@JParkinson1991 Hello. Thanks for bringing this up. Unfortunately, any sort of minification specific oddities you are incurring in regards to the css itself should indeed be opened up on the [https://github.com/jakubpawlowicz/clean-css/issues](clean-css issue tracker). Sorry I can not help, but any changes in this repo won't affect your results in this case.

[2018-01-10 13:08] #51 closed

[2018-01-14 15:07] Seyken971 opened #53 "gulp-util is deprecated"
gutil.File => https://www.npmjs.com/package/vinyl
    gutil.replaceExtension => The .extname property on Vinyl objects or https://www.npmjs.com/package/replace-ext
    gutil.colors => https://www.npmjs.com/package/ansi-colors
    gutil.date => https://www.npmjs.com/package/date-format
    gutil.log => https://www.npmjs.com/package/fancy-log
    gutil.template => https://www.npmjs.com/package/lodas

[2018-01-14 17:55] scniro commented on #53
Closing for absence of details. This has already been fixed [here](https://github.com/scniro/gulp-clean-css/pull/50). Maybre try updating your package.

[2018-01-14 17:55] #53 closed

[2018-01-17 04:14] Suja-Uddin commented on #42
@jonyeezs you saved my life!

[2018-02-14 21:39] jok3rcito0 commented on #12
@scniro hey man! sorry for my question buy, what mean .pipe(size.... ?? D:

[2018-02-16 15:09] nsciacca opened #54 "Level 1 optimization (default) and fonts with color keywords"
I'm trying to use the Google font "Crimson Text", however with the default optimization level the "Crimson" text is being replaced with its hex color equivalent "#dc143c" via the shorten-hex.js. Any thoughts on how to fix?

[2018-02-16 17:28] scniro commented on #54
@nsciacca Please open up an issue over at [clean-css](https://github.com/jakubpawlowicz/clean-css) - this project is just a small wrapper around the core lib. Anything regarding rules and output discrepancies surely need to be discussed there.

[2018-02-16 17:28] #54 closed

[2018-02-24 15:33] inwardmovement opened #55 "SyntaxError: Use of const in strict mode."
Seems similar to [41](https://github.com/scniro/gulp-clean-css/issues/41) but not solved by [3.1.1](https://github.com/scniro/gulp-clean-css/releases/tag/3.1.1).

The plugin does not throw an error in local development (Windows), but does when building in production by Travis CI (Linux):

[code]
I use `"gulp-clean-css": "^3.9.2"` and `npm 5.6.0`
Any idea how can I work around this?

[2018-02-24 17:29] scniro commented on #55
Hmm, that's odd. I build this plugin on Travis myself and have no issues. The [source file](https://github.com/scniro/gulp-clean-css/blob/master/index.js#L1) is already in strict mode.

Actually, peeking at your build log, you're [using node version 0.10.48](https://travis-ci.org/inwardmovement/inwardmovement.github.io/jobs/345624269#L447). Umm, not good...

 [Just specify which engine](https://do

[2018-02-24 22:11] inwardmovement commented on #55
Thanks, that did it!

I have another error then [in my log](https://travis-ci.org/inwardmovement/inwardmovement.github.io/builds/345761533), but not in the field of this issue.

[2018-02-24 23:33] #55 closed

[2018-03-06 15:32] tourniquet7 opened #56 "Upgrading causes gigantic source maps."
I upgraded from 2.0.13 to 3.9.2 and now my sourcemaps are huge for the minified version. In package.json I have

"gulp-clean-css": "^3.9.2"
"gulp-sourcemaps": "^2.6.4"

Here is an excerpt from my gulp

[code]

The min sourcemaps were 1.3 mb now they are 130 mb.

[2018-03-06 21:01] scniro commented on #56
Yikes, no idea. Have you looked into [gulp-sourcemaps](https://github.com/gulp-sourcemaps)? I don't mean to disregard this but I am missing a lot of information here other than quite a bit of time has bassed between your update. At that version, this plugin had a [sourcemap dep of 1.x](https://github.com/scniro/gulp-clean-css/commit/478edf8b187ba300d8977716f066a91975cc6844#diff-b9cfc7f2cdf78a7f4b9

[2018-03-06 22:16] tourniquet7 commented on #56
When I change the version of sourcemaps to different versions there is no difference in the filesize of the map files. It only happens when I update gulp-clean-css. Not sure if its the culprit, its just what I've noticed.

[2018-03-06 23:54] scniro commented on #56
My bad, that was a dev dep for testing, wow totally disregard what I said above. I really don't even know where to start looking, the only thing I notice is a 10x increase of 1.3 => 130. What does `var streams = merge();` do? Does your `forEach` happen to be 10 iterations? Could be a starting point to investigate the oddly suspicious increase.

[2018-03-06 23:57] tourniquet7 commented on #56
No worries! I'll just stick with the old version. I just figured I would let you know about it.

[2018-03-07 00:38] scniro commented on #56
No, don't give up! I totally want to help you, I'm just probing to learn more is all. Can you share the details I'm looking for?

[2018-03-08 20:48] GCDeveloper opened #57 "minor vulnerability in clean-css <4.1.11"
Please update clean-css to 4.1.11 or higher due to a minor vulnerability detailed here:
https://snyk.io/vuln/npm:clean-css:20180306

[2018-03-08 21:52] scniro commented on #57
Thank you for bringing this to my attention. Will be fixed today and I'll post back here once it's published up.

[2018-03-09 00:04] scniro commented on #57
@GCDeveloper fixed with the [3.9.3 release](https://github.com/scniro/gulp-clean-css/releases/tag/3.9.3)

[2018-03-09 00:04] #57 closed

[2018-03-13 12:22] scniro commented on #56
@tourniquet7 I'm going to close this for now. Please reopen should you wish to include some more details. Also FWIW there was a double [minor bump in gulp-sourcemaps](https://github.com/scniro/gulp-clean-css/commit/8479e19385de349e740a5dceb01e73a43de6401c#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R49) in the last release as well as a [new version of clean-css](https://github.com/jakubpawlowicz/clean-cs

[2018-03-13 12:22] #56 closed

[2018-03-17 02:20] ecnepsnai opened #58 "clean-css options not working"
I'm having trouble disabling a specific rule for clean-css using gulp-clean-css, when I try my config out using the web interface: https://jakubpawlowicz.github.io/clean-css/ it works as intended but when I try it using gulp it doesn't work.

Here's the relevant gulp code:
[code]

I also tried:

[code]

As a troubleshooting step I also noticed that setting the level to 0 (which is supposed to disa

[2018-03-17 14:36] scniro commented on #58
@ecnepsnai You appear to be using the clean-css API correctly, I have no idea why it wouldn't work for you as this plugin is just passing the options along. Can you throw together a small reproduction repo that uses the gulp plugin and the clean-css node api that demonstrates the difference in results?

[2018-03-21 17:27] scniro commented on #58
@ecnepsnai closing as I find it unlikely that the options passed are not working - there would be droves of consumers here all reporting similar. Please reopen if you can add additional detail or demonstrate the problem.

[2018-03-21 17:27] #58 closed

[2018-04-02 20:14] gbschalch opened #59 "libs word being replaced for css"
Hi!

I have a .css file which contains a font file path (url) which has the "libs" word in it. After being processed by gulp clean css pipe, it's being replaced from "libs" to "css". Why?

Here's the pipe:

`gulp.task('create-static-css', ['clear'], function() {
  return gulp.src([sourceAssets+'libs/**/*.css', '!'+sourceAssets+'css/**/*.css'])
    .pipe(sourcemaps.init())
    .pipe(concat('static.

[2018-04-13 20:37] TheDancingCode commented on #59
Does it still happen when you do `.pipe(minifycss({rebase: false}))`?

[2018-06-12 19:42] webdevinci opened #60 "Error: Broken @import declaration .... - timeout"
When trying to retrieve Google fonts in our gulp build, it usually works fine. Sometimes it fails the first time, works the next. It is very important to us to not make those extra requests, so the processImports needs to be true.

My proposal would be to add a timeout property so it can goto whatever given option or default if not present.

[2018-06-14 10:25] sattes-faction opened #61 "Minification should be optional"
Currently minification is enabled by default and cannot be disabled, this should be an option. Currently I can't just optimize a human-readable css without minification.

[2018-06-20 15:36] phackwer opened #62 "How to prevent rebase of images in css?"
I'm facing the following problem:

We have a big angular project with a lot of lazy loading, including CSS for each module. When gulp-clean-css is executed, it adds a crazy path to the images. We want to prevent it without having to edit all the CSS (it's a log) to set absolute positioning.

How can I prevent clean-css to rebase my images using gulp-clean-css?

[2018-07-01 18:13] scniro commented on #61
@sattes-faction PR's welcome! That should be fun simple one if you'd like to contribute 😸

[2018-07-01 18:16] scniro commented on #62
@phackwer thank you for the interest, but I'd recommend asking a question on [StackOverflow](https://stackoverflow.com/). If you include an isolated working example you'll surely get an answer the same day. Closing for now as I'm not sure the solution lies within modifying the repo itself, but please reopen should you suspect otherwise.

[2018-07-01 18:16] #62 closed

[2018-07-01 18:18] scniro commented on #60
@webdevinci unsure what you're proposing here or if I even understand the issue fully. Furthermore, I'd suspect the potential solution would be found within [clean-css](https://github.com/jakubpawlowicz/clean-css) itself. Closing for now but please reopen should you with to submit a PR or can provide more detail

[2018-07-01 18:18] #60 closed

[2018-07-01 18:21] scniro commented on #59
@gbschalch this is probably best to ask on [StackOverflow](https://stackoverflow.com/) as I suspect the issue could be specific to your implementation. You may also checking out [clean-css `rebaseTo`](https://github.com/jakubpawlowicz/clean-css#how-to-rebase-relative-image-urls) helpful in this situation

[2018-07-01 18:21] #59 closed

[2018-07-01 21:15] TheDancingCode commented on #61
Isn't `{format: 'beautify'}` doing what you want? See clean-css's [formatting options](https://github.com/jakubpawlowicz/clean-css#formatting-options).

[2018-07-01 22:02] scniro commented on #61
@TheDancingCode ^nice find. I actually never knew that was an output option but yep, that should solve this one. I'll close this out if I don't hear back from the OP in a bit. Thanks for sharing that 👍

[2018-07-02 11:07] sattes-faction commented on #61
@TheDancingCode : yeah, this works. Thank you!

@scniro : Thanks for your reply, I close this one - I should have RTFM. ;-)

[2018-07-02 11:07] #61 closed

[2018-07-02 11:53] scniro commented on #61
@sattes-faction glad you're up and running now 😸 @TheDancingCode thanks again for your collaboration here

[2018-08-08 11:53] ark-tds opened #63 "clean-css => 4.2.1"
Please update clean-css to v4.2.1
[https://github.com/jakubpawlowicz/clean-css/releases](https://github.com/jakubpawlowicz/clean-css/releases)

[2018-09-26 10:58] asharma102 opened #64 "@import not coming in minified css"
@scniro

@import URL(//xyz.com/abc.css) is not coming in my dest folder when it minifying  CSS and putting in dist folder

[2018-10-18 13:45] emoc11 opened #65 "@import url('') deleted when minifying"
Hi !

CleanCss made a [hot update 4.0.0](https://www.npmjs.com/package/clean-css#important-40-breaking-changes) that change the configuration...
For external @import to work you need to pass the configuration `inline: ['none']` or `inline: false` or `inline: ['local']`

So... We must have this configuration in your package too, to pass it to cleanCss after !

Is it possible to do this soon ?

Than

[2018-10-18 13:58] scniro commented on #65
@emoc11 so this package uses [clean-css@4.2.1](https://github.com/scniro/gulp-clean-css/blob/master/package.json#L32) which is the [most current release](https://github.com/jakubpawlowicz/clean-css/releases).

You should be able to [pass the option](https://github.com/scniro/gulp-clean-css/blob/master/index.js#L35) here. Does passing the option not work as expected?

[2018-10-18 13:59] scniro commented on #64
@emoc11 @asharma102 commented on #65. Perhaps we can collaborate there as some more information was included. Closing this out in favor of the new thread...

[2018-10-18 13:59] #64 closed

[2018-10-18 14:53] emoc11 commented on #65
It seems not i'm afraid...

Since 4.0 we can configure `inline: false` in cleanCss to be sure that it do nothing to @import but my `@import url("")` are still removed when i build with gulp-clean-css.. !

[2018-12-27 08:01] mynameismaosheng opened #67 "file.contents.toString() throws exception after 4.x release"
`gulp.task("cssmin", () => {
  return gulp
    .src(["src/public/stylesheets/**/*"])
    .pipe(cleanCSS({ compatibility: "ie8" }))
    .pipe(gulp.dest("src/dist/css"));
});`
execute
`gulp cssmin `
![c8c62c09d44b0d58ca14f70c46c040a](https://user-images.githubusercontent.com/19756360/50471620-80402800-09f0-11e9-95c5-e902b53af953.png)
![aefc70a75e761a27e026f52dc54a95e](https://user-images.githubuserc

[2018-12-27 08:10] mynameismaosheng commented on #67
I have switched the version to 3.9.3.
The error is gone

[2018-12-27 13:01] scniro commented on #67
@mynameismaosheng interesting error. Which node version are you using? I may need to look into this. I cut a major release a month or so back and haven't heard any fallout yet. I see you've resolved your issue but I'd like to keep this open until I can get a better sense of what's going on...

[2018-12-28 00:57] mynameismaosheng commented on #67
This error occurs with version 4.0.0

[2018-12-28 11:46] scniro commented on #67
@mynameismaosheng sorry, I meant, which node version are you running?

[2018-12-29 01:02] mynameismaosheng commented on #67
node v10.13.0

[2019-01-03 23:37] Silarn commented on #67
I believe I'm able to replicate this both using node v10.13.0 (the current package version on Fedora 29) and on v11.6.0.

[2019-01-04 12:16] scniro commented on #67
@mynameismaosheng @Silarn sorry for the late reply. This should be fixed in the [4.0.1](https://github.com/scniro/gulp-clean-css/releases/tag/4.0.1) release I've cut just now.

I just placed the [empty string check back](https://github.com/scniro/gulp-clean-css/commit/5b0ac99fa7f18b2c0167f78e109de55e22dc3957#diff-168726dbe96b3ce427e7fedce31bb0bcL29) and all seems well. Did you have some empty file

[2019-01-09 15:14] scniro commented on #67
@mynameismaosheng can you please clarify if you are still getting the same error in 4.0.1 as you were when you opened this issue? The following error should be fixed...

What _exactly_ are you now experiencing - and what are your expectations?

[2019-01-10 03:11] mynameismaosheng commented on #67
Yes, thank you very much. The problem has been solved.

[2019-01-11 16:09] Silarn commented on #67
I'm not able to install this with NPM, the package version doesn't seem to be updated. I will apply the change and test it manually, though.

[2019-01-11 16:19] Silarn commented on #67
Well, I had a couple issues going on. At some point extra files were compiled into a subdirectory due to a bad setup. So our gulp task was including an additional directory, which is probably what was causing the issue. I'm not sure what else changed that it was ignoring the directories in previous versions. Fixing our own setup helped to resolve the issue here, but if the input glob contains a di

[2019-01-11 17:17] scniro commented on #67
🤦‍♂️ @Silarn wow I forgot to publish, major facepalm. I'll be sure to do that this evening when I can get to it. I'm also going to reopen the issue as it doesn't seem clear that it's been resolved. I'll look into what's going on with the directory now.

Is it that empty directories are causing issues? I'll have to go back and check the diff. Sorry for the inconvenience while I try to unscrew thing

[2019-01-12 05:35] Silarn commented on #67
It wasn't an empty directory in my case. I believe it's trying to parse the directory as a target file rather than ignoring it or reading the files in it.

[2019-01-22 12:10] scniro commented on #67
@joaobhering @mynameismaosheng @Silarn Hey guys... I'm still looking into this. I've tried to replicate all of the file structures here that's been reported to cause the issue and I am unable to reproduce this. Still happy to help, but I may need a fully contained working example. If one of you can throw together a bare-bones repository that replicated the error I'll fix it ASAP.

I tried writing

[2019-02-28 03:33] kitce commented on #63
How about accept an option `CleanCSS` for passing desired version of `clean-css`?

[2019-03-13 14:48] Allain55 commented on #67
Hi, I've the same problem:

gulp-clean-css: 4.0.0
Node.js: 11.11
Ubuntu 16.04

This way I get the same error:
[code]
I tried it with only 1 scss in the directory containing this:
[code]
But if I specify the filename or filter for scss files (there are no other files in the directory), it works:
[code]

Hope this helps

[2019-03-20 19:17] KimonoVIP opened #70 "Relative paths to a picture in selects: after and: before"
When I use @import local files in my shared file, the relative paths are broken in the code taken from the included file — the points are deleted. This happens only for selectors: after
Here is an example of what is happening:
style.css
      @import url ('main.css');

The main.css code is initially:
.element: after {
      background: url ("../ img / icons / pic.svg");
}

And the output in the st

[2019-04-11 11:04] nocturnalmonkey commented on #17
Not entirely sure how but I got this issue using v4.0.0?

I had to update `node_modules/gulp-clean-css/index.js` line 24 from:

[code]
To
[code]

This fixed the issue for me

[2019-04-23 11:46] #67 closed

[2019-04-23 12:22] scniro commented on #67
@Allain55 @joaobhering @mynameismaosheng @Silarn This should be fixed via #71 and is available in the [4.1.0](https://github.com/scniro/gulp-clean-css/releases/tag/4.1.0) release

[2019-04-23 12:24] scniro commented on #70
@KimonoVIP I pushed some changes regarding long standing issues in #52 that sound similar to your issue. Can you please update your plugin to at least version [4.1.1](https://github.com/scniro/gulp-clean-css/releases/tag/4.1.1) and let me know if the problem persists? Thanks!

[2019-04-23 12:26] scniro commented on #65
@emoc11 I was unable to track this down and am closing due to staleness. I have made various subsequent changes that may resolve your issue if you try to update. If the issue persists, please re-open a new issue with as much detail as possible and I'll help you look into it. Thanks!

[2019-04-23 12:26] #65 closed

[2019-04-24 11:07] KimonoVIP commented on #70
@scniro Updated to version 4.2.0 - it did not help. Anyway, the path to the background image after the assembly is distorted and does not work. So far I have been using this method (

.option::before {
     /* clean-css ignore: start */
     background: url ("../ img / check.svg") center no-repeat;
     /* clean-css ignore: end */
}

[2019-06-29 06:22] veleek opened #72 "Quotes removed from single column grid definitions"
# Description
If you define a single column CSS grid using the `grid` property (instead of the explicit grid-template-areas/rows/columns), the quotes get removed from the the grid area names which results in invalid CSS (as far as I can tell).

The minified CSS fails to render properly in both Chrome and Firefox whereas the regular CSS renders as expected.  Quotes are NOT removed when using `grid-

[2019-06-29 06:23] veleek commented on #72
Sorry, my mistake.  This should have been filed against clean-css.  It's late, I'm tired.

[2019-06-29 06:23] #72 closed

[2019-11-09 02:54] blachawk opened #73 "Can't find options to generate a .min file"
Am I way off base here in assuming that gulp-clean-css can generate a .min file like so in my /dist directory:

styles.css
styles.min.css

If this is possible, what would be the gulp settings to achieve this?

[2019-12-08 04:09] #73 closed

[2019-12-27 02:30] dmellstrom opened #74 "CI build missing Node 12 etc."
The Travis build is currently set up to test the following Node.js versions:
[code]
Version 6 is in EOL , 7/9/11 are unsupported (odd-numbered) versions, and we are missing 12 which is active. See https://nodejs.org/en/about/releases/

I propose changing `.travis.yml` to contain the following:

[code]
This matches what `clean-css` is now using

[2020-01-02 18:54] dmellstrom commented on #74
@scniro Thoughts? Shall I make the needed PR?

[2020-01-13 23:26] dmellstrom commented on #74
The tests actually fail on Node 12 due to outdated `gulp-sass` ( >= 4.12.0 is required for the newer runtime), so I'll update that in my PR as well

[2020-01-19 16:26] #74 closed

[2020-02-12 17:02] Frankusky opened #82 "Options object can't be used multiple times"
I have a centered object which contains the base configuration for css cleaner. The first execution works as expected, but the second one replace the urls wrong (even with normalizeUrls option disabled).

I console logged the object and it looks like after the first run it adds an rebaseTo property to my object which causes the bad url replacement.

[2020-02-25 07:35] coliff commented on #73
did you find a solution @blachawk ? I was just wondering about this myself...

[2020-02-26 12:36] ivanff commented on #65
I have exactly the same problem as described by the author.

[2020-03-06 01:02] Mess663 opened #83 "Valid CSS be cleaned"
`background: #222 url() center/cover no-repeat;`

Beacause of `url()`, this line will be cleaned

[2020-03-15 15:47] scniro commented on #83
@Mess663 I've published the [4.3.0](https://github.com/scniro/gulp-clean-css/releases/tag/4.3.0) release. Unsure if this will solve any of the issues you are experiencing, but I suspect the root of the problem could be traced back to [clean-css](https://github.com/jakubpawlowicz/clean-css) itself. This lib is mostly a slim wrapper.

[2020-03-15 15:47] #83 closed

[2020-03-31 15:08] paulmer opened #85 "Errors in CleanCSS cause abort with no diagnostics."
An error processing a CSS file (for example, an @import of a non-existing file) causes gulp-clean-css to abort without any diagnostic message.

According to https://gulpjs.com/docs/en/getting-started/async-completion under "**Using an error-first callback**", the cb function can be passed an Error object, but gulp-clean-css is passing a string on line 37: `return cb(errors.join(' '));`.  Wrapping

[2020-03-31 15:23] paulmer opened #87 "Consider aborting on errors after calling user-supplied callback."
Calling cb(errmsg) before the user supplied callback to the gulp-clean-css plugin deprives the callback of the opportunity to process or display the warning and error messages generated by the CleanCSS library.  Deferring the error until after the callback is executed will make the diagnostic information in the errors and warnings useful.

[2020-04-19 11:22] mydansun commented on #70
look at https://github.com/jakubpawlowicz/clean-css/issues/1100

[2020-12-30 10:57] nachtfunke opened #88 "Callback not running"
So I have noticed that for some reason the callback is just not running at all.

This is the task.

[code]

Does anyone spot any issues here? I am a bit lost. The code hasn't changed since it was setup and it used to work just fine, it just stopped working.

[2020-12-30 11:31] #88 closed, assigned to nobody

[2021-09-06 13:56] rodude123 opened #90 "the compatability option is not working"
I tried this, and it does not want to change make it compatible with ie8 or any ie version. I checked the minified version of the code.
[code]

[2021-12-01 16:40] alexeych opened #91 "Upgrade gulp-clean-css to match clean-css version 5.*"
Please, consider upgrading gulp-clean-css to 5.* version to match with the latest version of clean-css.

[2022-02-15 13:10] thomasfrobieter commented on #91
The old version causes a critical issue in meantime, this thing really needs updated deps.